<div class="card shadow-lg my-5">
{% if post.image %}
  <img src="{{ post.image.url }}" class="card-img-top card-img-fluid-top" alt="{{ historicalfigure.name }}">
{% endif %}
  <div class="card-header">
    <a class="link-secondary" href="{{ post.historical_figure.get_absolute_url }}">{{ post.historical_figure.name }}</a>,
    {{ post.get_type_display }}
    {% if post.historical_figure_mentions.exists %}
      <i class="fas fa-angle-double-right"></i>
      {% for mentioned_historical_figure in post.historical_figure_mentions.all %}
        <a class="link-secondary" href="{{ mentioned_historical_figure.get_absolute_url }}">{{ mentioned_historical_figure.name }}</a>{% if not forloop.last %},{% endif %}
      {% endfor %}
    {% endif %}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>
        {{ post.text }}
        {% if post.sources %}
          <span class="text-muted" data-bs-toggle="tooltip" title="{{ post.sources }}">
            <i class="fas fa-info-circle"></i>
          </span>
        {% endif %}
      </p>
    {% if post.location_name %}
      <footer class="blockquote-footer"><i class="fas fa-map-marked-alt"></i> {{ post.location_name }}</footer>
    {% endif %}
    {% if post.post_date %}
      <footer class="blockquote-footer"><cite>{{ post.get_post_date_display }}</cite></footer>
    {% endif %}
    </blockquote>
  </div>
</div>
