{% extends 'history/layout/base.html' %}

{% block content %}
<div class="row">
  {% for event in event_list %}
    <div class="col-md-12 my-2">
      <div class="d-flex align-items-center">
        <div>
          <div class="card event-date-card text-center">
            <div class="card-header month">
              {{ event.get_event_day_and_month_display }}
            </div>
            <div class="card-body">
              <h5 class="card-title year">{{ event.event_date|date:'Y' }}</h5>
            </div>
          </div>
        </div>
        <div class="flex-grow-1 ms-3">
          <a class="author link-secondary" href="{{ event.get_absolute_url }}" title="{{ event.title }}">
            <h5>{{ event.title }}</h5>
          </a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock content %}
