{% extends 'history/layout/base.html' %}
{% load static %}

{% block title %}{{ historicalfigure.name }}{% endblock %}

{% block content %}
<section
  class="p-5 bg-image border historical-figure-header"
  style="
    background-image: url('{% static 'images/default_historical_figure_bg_image.jpg' %}');
    height: 300px;
  "
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
    <div class="d-flex justify-content-start align-items-end h-100">
      <div class="text-white m-3">
        <div class="d-flex align-items-center">
          {% include 'history/_historical_figure_photo.html' with historical_figure=historicalfigure %}
          <div class="flex-grow-1 ms-3">
            <h1 class="title">{{ historicalfigure.name }}</h1>
            {% if historicalfigure.full_name %}
              <p>{{ historicalfigure.full_name }}</p>
            {% endif %}
            {% if historicalfigure.description %}
              <p>{{ historicalfigure.description }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="row align-items-start">
  <div class="col-md-3">
    <div class="card border mt-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <small class="text-muted"><strong>Nacimiento:</strong> {{ historicalfigure.get_date_of_birth_display }}</small>
        </li>
        <li class="list-group-item">
          <small class="text-muted"><strong>Muerte:</strong> {{ historicalfigure.get_date_of_death_display }}</small>
        </li>
        <li class="list-group-item">
          <small class="text-muted">
            <strong>Grupos:</strong>
            {% for group in historicalfigure.groups.all %}
              <a href="{{ group.get_absolute_url }}">{{ group.title }}</a>{% if not forloop.last %},{% endif %}
            {% empty %}
              -
            {% endfor %}
          </small>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-9">
  {% for post in posts %}
    {% include 'history/_post.html' with post=post show_groups=True%}
  {% endfor %}
  </div>
</div>
{% endblock content %}

