{% extends 'history/layout/base.html' %}
{% load static %}

{% block title %}{{ historicalfigure.name }}{% endblock %}

{% block meta %}
  <meta property="og:title" content="{{ historicalfigure.name }}">
  <meta property="og:description" content="{{ historicalfigure.description }}">

  <meta name="twitter:title" content="{{ historicalfigure.name }}">
  <meta name="twitter:description" content="{{ historicalfigure.description }}">
{% endblock %}

{% block content %}
<section
  class="p-5 bg-image border historical-figure-header"
  style="
    background-image: url('{% static 'images/default_historical_figure_bg_image.jpg' %}');
    height: 300px;
  "
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
    <div class="d-flex justify-content-start align-items-end h-100">
      <div class="text-white m-3">
        <div class="d-flex align-items-center">
          {% include 'history/_historical_figure_photo.html' with historical_figure=historicalfigure %}
          <div class="flex-grow-1 ms-3">
            <h1 class="title">{{ historicalfigure.name }}</h1>
            {% if historicalfigure.full_name %}
              <p>{{ historicalfigure.full_name }}</p>
            {% endif %}
            {% if historicalfigure.description %}
              <p>{{ historicalfigure.description }}</p>
            {% endif %}
            {% if historicalfigure.labels %}
              <div>
              {% for label in historicalfigure.labels %}
                <span class="badge rounded-pill bg-light text-dark">{{ label }}</span>
              {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="row align-items-start">
  <div class="col-md-3">
    <div class="card border mt-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="text-muted"><strong>Nacimiento:</strong> {{ historicalfigure.get_date_of_birth_display }}</div>
        </li>
        <li class="list-group-item">
          <div class="text-muted"><strong>Muerte:</strong> {{ historicalfigure.get_date_of_death_display }}</div>
        </li>
        <li class="list-group-item">
          <div class="text-muted">
            <strong>Grupos:</strong>
            {% for group in historicalfigure.groups.all %}
              <a href="{{ group.get_absolute_url }}">{{ group.title }}</a>{% if not forloop.last %},{% endif %}
            {% empty %}
              -
            {% endfor %}
          </div>
        </li>
        <li class="list-group-item">
          <div class="addthis_inline_share_toolbox"></div>
        </li>
      </ul>
    </div>

    {% if historicalfigure.history_events.exists %}
    <div class="accordion accordion-flush events-accordion border mt-3" id="accordionEvents">
      <div class="accordion-item">
        <h6 class="accordion-header" id="headingOne">
          <strong class="accordion-button collapsed text-muted" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Eventos
          </strong>
        </h6>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionEvents">
          <div class="accordion-body">
            <div class="text-muted">
              {% for event in historicalfigure.history_events.all %}
                <div class="my-2">
                  <small>
                    <strong>{{ event.get_event_date_display }}:</strong>
                    <a class="link-secondary" href="{{ event.get_absolute_url }}" title="{{ event.title }}">
                      {{ event.title }}
                    </a>
                  </small>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="col-md-9">
  {% for post in posts %}
    {% include 'history/_post.html' with post=post show_groups=True %}
  {% endfor %}
  </div>
</div>
{% endblock content %}

