{% extends 'history/layout/base.html' %}
{% load static %}

{% block title %}{{ historicalfigure.name }}{% endblock %}

{% block content %}
<section
  class="p-5 bg-image border"
  style="
    background-image: url('{% static 'images/default_historical_figure_bg_image.jpg' %}');
    height: 300px;
  "
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.8);">
    <div class="d-flex justify-content-start align-items-end h-100">
      <div class="text-white m-3">
        <div class="d-flex align-items-center">
          <div class="flex-shrink-0 bg-image" style="width: 100px; height: 100px;">
            <img class="bd-placeholder-img rounded-circle img-fluid img-fluid-fit-cover" src="{{ historicalfigure.get_image_url }}" alt="{{ historicalfigure.name }}">
            <div class="mask historical-figure-mask rounded-circle"></div>
          </div>
          <div class="flex-grow-1 ms-3">
            <h1>{{ historicalfigure.name }}</h1>
            <p>{{ historicalfigure.full_name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="row align-items-start">
  <div class="col-md-3">
    <div class="card border mt-5">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <small class="text-muted"><strong>Nacimiento:</strong> {{ historicalfigure.get_date_of_birth_display }}</small>
        </li>
        <li class="list-group-item">
          <small class="text-muted"><strong>Muerte:</strong> {{ historicalfigure.get_date_of_death_display }}</small>
        </li>
        <li class="list-group-item">
          <small class="text-muted">
            <strong>Grupos:</strong>
            {% for group in historicalfigure.groups.all %}
              <a href="{{ group.get_absolute_url }}">{{ group.title }}</a>{% if not forloop.last %},{% endif %}
            {% empty %}
              -
            {% endfor %}
          </small>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-9">
  {% for post in posts %}
    {% include 'history/_post.html' with post=post show_groups=True%}
  {% endfor %}
  </div>
</div>
{% endblock content %}

