{% extends 'history/layout/base.html' %}

{% block content %}

<div id="history_post_pagination" class="col-md-9" data-infinite-scroll-path="{% url 'history:api_post_list' %}">
{% for post in posts %}
  <article class="post">
    {% include 'history/_post.html' with post=post %}
  </article>
{% endfor %}
</div>

<div class="page-load-status">
  <div class="infinite-scroll-request">
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Cargando más posts...</span>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

