{% extends 'history/layout/base.html' %}
{% load static %}

{% block title %}{{ post.historical_figure.name }}{% endblock %}

{% block meta %}
  <meta property="og:title" content="{{ post.historical_figure.name }}">
  <meta property="og:description" content="{{ post.text }}">

  <meta name="twitter:title" content="{{ post.historical_figure.name }}">
  <meta name="twitter:description" content="{{ post.text }}">
{% endblock %}

{% block content %}
<article>
  {% include 'history/_post.html' with post=post show_groups=True hide_details_link=True %}
</article>
{% endblock content %}

