{% extends 'history/layout/base.html' %}
{% load static %}

{% block title %}{{ post.historical_figure.name }}{% endblock %}


{% block content %}
<h1> POSTS </h1>


<div class="container"
  data-infinite-scroll='{ "path": ".pagination__next", "append": ".post", "status": ".page-load-status"}'>
{% for post in page_obj %}
<article class="post">
  {% include 'history/_post.html' with post=post %}
</article>
{% endfor %}
</div>

<div class="page-load-status">
  <div class="loader-ellips infinite-scroll-request">
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
  </div>
  <p class="infinite-scroll-last">End of content</p>
  <p class="infinite-scroll-error">No more pages to load</p>
</div>

<p class="pagination">
  <a class="pagination__next" href="?page={{ page_obj.next_page_number }}">Next page</a>
</p>

<script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>
{% endblock content %}
