{% extends 'history/layout/base.html' %}
{% load static %}

{% block title %}{{ historicalfigure.name }}{% endblock %}

{% block meta %}
  <meta property="og:title" content="{{ historicalfigure.name }}">
  <meta property="og:description" content="{{ historicalfigure.description }}">

  <meta name="twitter:title" content="{{ historicalfigure.name }}">
  <meta name="twitter:description" content="{{ historicalfigure.description }}">
{% endblock %}

{% block content %}
<article>
  {% include 'history/_post.html' with post=post show_groups=True hide_details_link=True %}

  <div class="addthis_inline_share_toolbox my-2"></div>

  {% include 'includes/_disqus_comments.html' with page_id="history-post-"|add:post.token %}

</article>
{% endblock content %}

