{% extends 'layout/base.html' %}

{% block title %}Historia de Colombia en Desparchado.co{% endblock %}

{% block meta %}
  <meta property="og:title" content="Historia de Colombia en Desparchado.co">
  <meta property="og:description" content="Historia de Colombia">

  <meta name="twitter:title" content="Historia de Colombia en Desparchado.co">
  <meta name="twitter:description" content="Historia de Colombia">
{% endblock %}

{% block subheader %}
{% endblock subheader %}

{% block content %}
{% endblock content %}
