{% extends 'old_layout/base.html' %}

{% block title %}Historia de Colombia en Desparchado.co{% endblock %}

{% block meta %}
  <meta property="og:title" content="Historia de Colombia en Desparchado.co">
  <meta property="og:description" content="Historia de Colombia">

  <meta name="twitter:title" content="Historia de Colombia en Desparchado.co">
  <meta name="twitter:description" content="Historia de Colombia">
{% endblock %}

{% block subheader %}
<div class="history-sub-header">
  <ul class="nav nav-pills justify-content-center">
    <li class="nav-item" role="presentation">
      <a class="nav-link" href="{% url 'history:historical_figure_list' %}">Personajes históricos</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" href="{% url 'history:event_list' %}">Eventos</a>
    </li>
  </ul>
</div>
{% endblock subheader %}

{% block content %}
{% endblock content %}
