{% load i18n %}
<div class="navbar-expand-md">
  <div class="collapse navbar-collapse" id="navbar-menu">
    <div class="navbar navbar-light">
      <div class="container-xl">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:home' %}" >
              <span class="nav-link-title"><i class="ti ti-home"></i> {% translate 'Inicio' %}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:places' %}" >
              <span class="nav-link-title"><i class="ti ti-map-2"></i> {% translate 'Lugares' %}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:spreadsheet_sync_form' %}" >
              <span class="nav-link-title"><i class="ti ti-brand-facebook"></i> {% translate 'Spreadsheet Sync' %}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:blaa_events_list' %}" >
              <span class="nav-link-title"><i class="ti ti-building-bank"></i> {% translate 'BLAA' %}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:social_posts' %}" >
              <span class="nav-link-title"><i class="ti ti-brand-facebook"></i> {% translate 'Redes sociales' %}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:filbo_event_form' %}" >
              <span class="nav-link-title"><i class="ti ti-brand-facebook"></i> {% translate 'FILBO' %}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
