<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg">
        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
          <li class="nav-item">
            <a href="{% url 'dashboard:home' %}" class="nav-link"><i class="fe fe-home"></i> Dashboard home</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'dashboard:events' %}" class="nav-link"><i class="fe fe-home"></i> Events</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'dashboard:places' %}" class="nav-link"><i class="fe fe-home"></i> Places</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'dashboard:users' %}" class="nav-link"><i class="fe fe-home"></i> Users</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'dashboard:blaa_events_list' %}" class="nav-link"><i class="fe fe-home"></i> BLAA</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'dashboard:event_sources' %}" class="nav-link"><i class="fe fe-home"></i> Sources</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'dashboard:social_posts' %}" class="nav-link"><i class="far fa-calendar-alt"></i> Social posts</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
