<div class="navbar-expand-md">
  <div class="collapse navbar-collapse" id="navbar-menu">
    <div class="navbar navbar-light">
      <div class="container-xl">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:home' %}" >
              <span class="nav-link-title"><i class="ti ti-home"></i> Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:places' %}" >
              <span class="nav-link-title"><i class="ti ti-map-2"></i> Places</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:users' %}" >
              <span class="nav-link-title"><i class="ti ti-users"></i> Users</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:blaa_events_list' %}" >
              <span class="nav-link-title"><i class="ti ti-building-bank"></i> BLAA</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:social_posts' %}" >
              <span class="nav-link-title"><i class="ti ti-brand-facebook"></i> Social posts</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:filbo_event_form' %}" >
              <span class="nav-link-title"><i class="ti ti-brand-facebook"></i> FILBO</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
