<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li><a href="{% url 'home' %}"><i class="fa fa-home text-green"></i> <span>desparchado.co</span></a></li>
      <li><a href="{% url 'admin:index' %}"><i class="fa fa-dashboard text-red"></i> <span>Django Admin</span></a></li>
      <li class="header">MAIN NAVIGATION</li>
      <li>
        <a href="{% url 'dashboard:events' %}">
          <i class="fa fa-calendar"></i>
          <span>Events</span>
        </a>
      </li>
      <li>
        <a href="{% url 'dashboard:places' %}">
          <i class="fa fa-map-marker"></i>
          <span>Places</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
