<div class="container-fluid my-3 p-3">
{% for event in events %}
  <div class="card event-card my-3">
    <a class="text-decoration-none" href="{{ event.get_absolute_url }}">
      <div class="row g-0">
        <div class="col-md-10">
          <div class="card-body">
            <p class="card-text"><span class="event-date-label">{{ event.event_date|date:'h:i a' }}</span></p>
            <div class="card-title">{{ event.title }}</div>
          </div>
        </div>
        <div class="col-md-2 align-self-center">
          <p class="card-text mx-3"><small class="card-subtitle">{{ event.place }}</small></p>
        </div>
      </div>
    </a>
  </div>
{% endfor %}
</div>
