<section id="events" class="container">

{% regroup events by event_date|date:"Y-m-d" as events_by_day %}

{% for grouped_result in events_by_day %}

  <h4>{{ grouped_result.grouper }}</h4>

  <div class="row row-eq-height">
  {% for event in grouped_result.list %}
      {% include 'events/_single_event.html' %}
    {% if forloop.counter|divisibleby:3 and not forloop.last %}
      </div>
      <div class="row row-eq-height">
    {% elif forloop.last %}
      </div>
    {% endif %}
  {% endfor %}

{% endfor %}
</section> <!--/#events-->
