<div class="card event-card">
  <a href="{{ event.get_absolute_url }}"><img src="{{ event.get_image_url }}" class="card-img-top card-img-fluid-top" alt="{{ event.title }}"></a>
  {% if event.place.city %}<div class="event-city-label">{{ event.place.city.name }}</div>{% endif %}
  {% if event.price %}<div class="event-price-label">{{ event.get_price_display }}</div>{% endif %}
  <div class="card-body">
    <a class="text-decoration-none" href="{{ event.get_absolute_url }}">
      <h5 class="card-title">{{ event.title }}</h5>
    </a>
    <div class="card-text">
      {% if event.event_type %}
        <div class="card-subtitle">
          <div class="event-type">{{ event.get_event_type_display }}</div>
        </div>
      {% endif %}
      <div class="event-date">
        {{ event.event_date|date:'j M Y' }},
        {{ event.event_date|date:'h:i a' }}
        {% if event.event_end_date %}
          {% if event.event_date|date:"j-M-Y" == event.event_end_date|date:"j-M-Y" %}
            &ndash;
            {{ event.event_end_date|date:'h:i a' }}
          {% else %}
            &ndash;
            {{ event.event_end_date|date:'j M Y' }},
            {{ event.event_end_date|date:'h:i a' }}
          {% endif %}
        {% endif %}
      </div>
      <div class="event-place">
        <a class="text-decoration-none" href="{{ event.place.get_absolute_url }}">{{ event.place }}</a>
      </div>
    </div>
  </div>
</div>
