{% extends 'layout/base.html' %}
{% load i18n desparchado_tags django_vite %}

{% block extra_scripts %}
  {% vite_asset 'desparchado/frontend/scripts/events.ts' %}
{% endblock extra_scripts %}

{% block bootstrap_css %}{% endblock %}

{% block title %}{% translate 'Eventos' %}{% endblock %}

{% block content %}
  <div class="events-section">
    <div class="events-section__header">
      <h1 class="text-heading-1 events-section__title">{% translate 'Eventos' %}</h1>
      <form>
        <fieldset class="events-section__filters">
          <legend class="text-heading-4">{% translate 'Busca un evento por:' %}</legend>
           <div class="events-section__filter-wrapper">
             <div class="events-section__filter-inputs">
               <div class="select-group">
                 <div class="select-group__item select-group__item--emphasis">
                   <select name="{{ category_filter_name }}" aria-label="{% translate 'Busca por temática' %}">
                     <option disabled {% if not category_filter_value %}selected{% endif %} value="">{% translate 'Temática' %}</option>
                     {% for value, label in category_choices %}
                       <option value="{{ value }}"{% if value == category_filter_value %} selected{% endif %}>{{ label }}</option>
                     {% endfor %}
                   </select>
                 </div>
                 <div class="select-group__item">
                   <select name="{{ city_filter_name }}" aria-label="{% translate 'Busca por lugar' %}">
                     <option disabled {% if not city_filter_value %}selected{% endif %} value="">{% translate 'Lugar' %}</option>
                     {% for city in cities %}
                       <option value="{{ city.slug }}"{% if city.slug == city_filter_value %} selected{% endif %}>{{ city.name }}</option>
                     {% endfor %}
                   </select>
                 </div>
               </div>
               <input
                 class="text-input"
                 type="text"
                 name="{{ search_query_name }}"
                 placeholder="{% translate 'Busca aquí por nombre, presentador...' %}"
                 aria-label="{% translate 'Buscar eventos' %}"
                 value="{{ search_query_value }}" />
             </div>
             <div class="events-section__filter-actions">
               <div
                 class="events-section__filter-action-item"
                 data-vue-component="button"
                 data-vue-prop-type="secondary"
                 data-vue-prop-padding="condensed"
                 data-vue-prop-label="{% translate 'Limpiar búsqueda' %}"
                 data-vue-prop-link="{{ request.path }}"
               >
               </div>
               <div
                 class="events-section__filter-action-item"
                 data-vue-component="button"
                 data-vue-prop-type="secondary"
                 data-vue-prop-padding="condensed"
                 data-vue-prop-label="{% translate 'Buscar' %}"
                 data-vue-prop-is-action-submit="true"
               >
               </div>
             </div>
           </div>
        </fieldset>
      </form>
    </div>
    {% include 'events/_event_list_pagination.html' with is_paginated=is_paginated page_obj=page_obj pagination_query_params=pagination_query_params %}

    {% for event in events %}
      <div
        data-vue-component="event-card-full-width"
        data-vue-prop-tag="div"
        data-vue-prop-location="{{ event.place.name }}"
        data-vue-prop-description="{{ event.description }}"
        data-vue-prop-title="{{ event.title }}"
        data-vue-prop-day="{{ event.event_date|date:'j M' }}"
        data-vue-prop-time="{{ event.event_date|date:'H:i' }}"
        data-vue-prop-image-url="{{ event.get_image_url }}"
        data-vue-prop-link="{{ event.get_absolute_url }}"
        data-vue-prop-date-copy="{{ event.event_date|date:'l' }}"
        data-vue-prop-speakers='[{% with speakers=event.speakers.all %}{% if speakers %}{% for speaker in speakers %}{"imageUrl": "{{ speaker.get_image_url|escapejs }}", "link": "{{ speaker.get_absolute_url|escapejs }}", "name": "{{ speaker.name|escapejs }}" }{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}{% endwith %}]'
      >
      </div>
    {% empty %}
      <div class="events-section__empty text-heading-5">
        <p>{% translate 'No encontramos resultados para su búsqueda' %}</p>
        <a href="{{ request.path }}">{% translate 'Limpiar búsqueda' %}</a>
      </div>
    {% endfor %}
  </div>


{% endblock content %}
