{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% if event %}Editar evento{% else %}Añadir evento{% endif %}{% endblock %}

{% block content %}
<h2 class="text-center mt-4">{% if event %}Editar evento{% else %}Añadir nuevo evento{% endif %}:</h2>

<section class="container event-form-container">
  {% crispy form %}
</section>
{% endblock content %}

{% block extra_css %}
  {{ form.media.css }}
{% endblock extra_css %}

{% block javascript %}
  {{ form.media.js }}
{% endblock javascript %}

