{% extends 'layout/base.html' %}
{% load i18n paginator_tags %}

{% block title %}Próximos eventos{% endblock %}

{% block subheader %}
<div class="games-header-menu">
  <ul class="nav justify-content-center">
  {% for city in global_cities %}
    <li class="nav-item" role="presentation">
      <a class="nav-link" href="{% url 'events:event_list' %}?city={{ city.slug }}">{{ city.name }}</a>
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock subheader %}

{% block content %}
<section class="container" itemscope itemtype="http://schema.org/CollectionPage">
  <div class="row text-center justify-content-md-center clearfix">
    <h2 class="title-one">
      Próximos eventos
      {% if city_filter %}
        en <a href="{{ city_filter.get_absolute_url }}">{{ city_filter.name }}</a>
      {% endif %}
    </h2>
  </div>
</section>

  {% include 'events/_events_grid.html' %}

  {% if city_filter and not events %}

  <div class="row card card-body bg-light text-center clearfix promo">
    <h4>
      No se encontraron eventos en <a href="{{ city_filter.get_absolute_url }}">{{ city_filter.name }}</a>.
      <br>
      <a href="{% url 'events:event_list' %}">Ver eventos en otras ciudades.</a>
    </h4>
  </div>

  <section class="container">
    <div class="text-center">
      <a href="{% url 'events:add_event' %}" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i>&nbsp;AÑADIR EVENTO</a>
    </div>
  </section>

  {% endif %}

<section class="container">
  {% get_simple_pagination %}
</section>

{% endblock content %}
