{% extends 'layout/base.html' %}
{% load django_markdown desparchado_tags %}

{% block meta %}
  <meta property="og:title" content="{{ event.title }}">
  <meta property="og:description" content="{{ event.place }}">
  <meta property="og:image" content="http://{{ request.get_host }}{{ event.get_image_url }}">

  <meta name="twitter:title" content="{{ event.title }}">
  <meta name="twitter:description" content="{{ event.place.name }}">
{% endblock %}

{% block content %}
<section id="event-detail" class="container">
<div class="row">
  <div class="col-md-8">
    <div class="event-heading">
      <ul class="event-tags">
        <li class="tags-item">{{ event.get_event_type_display }}</li>
        <li class="tags-item">{{ event.get_topic_display }}</li>
      </ul>
      <h1 class="event-title">{{ event.title }}</h1>
      <div class="event-city">{{ event.place.city }}</div>
      <div class="event-info">
        <span class="event-date">{{ event.event_date }}</span>
        <span class="event-place">
          <a class="link" href="{% url 'places:place_detail' event.place_id %}">
            <i class="fa fa-map-marker"></i>
            {{ event.place }}
          </a>
        </span>
      </div>
    </div>

    <div class="event-image">
      <div class="event-img-wrap">
        <img class="image img-responsive" alt="{{ event.title }}" src="{{ event.get_image_url }}">
        {% if event.price %}<div class="ticket-price-label">{{ event.get_price_display }}</div>{% endif %}
      </div>
    </div>
    <div class="event-description">
      {{ event.description|markdown }}
    </div>

  {% if event.event_source_url %}
    <div class="event-source">
      <i class="fa fa-globe"></i>
      <span>Página del evento:</span>
      <a href="{{ event.event_source_url }}" target="_blank">{{ event.event_source_url|truncatechars:50 }}</a>
    </div>
  {% endif %}

    <div class="addthis_inline_share_toolbox"></div>

  {% if event.image_source_url %}
    <div class="image-source">
      Imagen:
      <a href="{{ event.image_source_url }}" target="_blank">{{ event.image_source_url|shorten_url }}</a>
    </div>
  {% endif %}

    {% include 'includes/_map.html' with title=event.place subtitle=event.event_date latitude=event.get_latitude_str longitude=event.get_longitude_str css_class='event-map' %}
  </div>

  <div class="col-md-4">

  {% if event.speakers.exists %}

    <h3 class="secondary-title">Presentadores</h3>

    {% for speaker in event.speakers.all %}

      <div class="event-speaker">
        {% if speaker.image %}
        <div class="text-center">
          <a href="{{ speaker.get_absolute_url }}">
            <div class="image" style="background-image: url('{{ speaker.get_image_url }}');"
               title="{{ speaker.name }}"></div>
          </a>
        </div>
        {% endif %}
        <h4>{{ speaker.name }}</h4>
        <div>
          {{ speaker.description|markdown|truncatewords_html:50 }}
        </div>
      </div>
    {% endfor %}

  {% endif %}

  {% if event.organizer %}

    <h3 class="secondary-title">Organizador</h3>

    <div class="event-organizer">
      {% if event.organizer.image %}
      <div class="text-center">
        <img class="image img-responsive" src="{{ event.organizer.get_image_url }}">
      </div>
      {% endif %}
      <h4 class="tex-center">{{ event.organizer.name }}</h4>
      <div>
        {{ event.organizer.description|markdown|truncatewords_html:50 }}
      </div>
    </div>

  {% endif %}

  </div>
</div>

</section><!--/#event-detail-->
{% endblock content %}
