{% extends 'layout/base.html' %}
{% load i18n humanize desparchado_tags django_vite paginator_tags %}

{% block extra_scripts %}
  {% vite_asset 'desparchado/frontend/scripts/events.ts' %}
{% endblock extra_scripts %}

{% block content %}
  <section class="container clearfix" itemscope itemtype="http://schema.org/CollectionPage">
    <h2 class="text-justify text-center">Eventos pasados</h2>
  </section>

  {% include 'events/_events_grid.html' %}
<section class="container">
  {% get_simple_pagination %}
</section>
{% endblock content %}
