{% extends 'layout/base.html' %}
{% load paginator_tags %}

{% block title %}Presentadores{% endblock %}

{% block content %}
<section id="speaker-list" class="container">
  <h2 class="text-justify text-center">Presentadores</h2>

  <div class="row justify-content-center align-items-center">
    <form id="speaker_search_form" method="get">
      <div class="input-group mb-3">
        <input type="text" class="form-control" name="q" placeholder="Buscar presentadores..." value="{{ search_string }}">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form>
  </div><!-- /.row -->

{% if speakers.exists %}

  <div class="row text-center text-lg-left image-gallery-container">
  {% for speaker in speakers %}
    <div class="col-lg-2 col-md-4 col-12">
      <article class="image-gallery-listing">
        <a class="image-gallery-title image-gallery-title-show" href="{{ speaker.get_absolute_url }}">{{ speaker.name }}</a>
        <div class="image-gallery-image-wrapper">
          <a href="{{ speaker.get_absolute_url }}">
            <div class="image"
                 style="background-image: url('{{ speaker.get_image_url }}');"
                 title="{{ speaker.name }}">
            </div>
          </a>
        </div>
      </article>
    </div>
  {% endfor %}
  </div>
{% else %}
  <div class="text-center" style="width: 100%; margin-top: 20px;">
    <p>No encontramos resultados para su búsqueda: "{{ search_string }}".</p>
    <p>
      <a href="{% url 'events:speaker_list' %}" class="btn btn-sm btn-primary">VER TODOS PRESENTADORES</a>
    </p>
  </div>
{% endif %}

  {% get_pagination 2 1 %}
</section><!--/#speaker-list-->

{% endblock content %}
