
# File types
*.pyc
*.swo
*.swp
*.swn
*.log
*.mo
*.sqlite3

# Configuration files
desparchado/local_settings.py
environment.json
.requirements_timestamp
.idea
.tags
.tags_sorted_by_file
.env
package-lock.json

# Folders
desparchado/static/.sass-cache
desparchado/static/sass/.sass-cache/
desparchado/static/.bundle-gems
desparchado/static/bower_components
desparchado/static/node_modules/
.docker_pip_cache
!.docker_pip_cache/.keep

/static
/staticfiles
/reports
/doc/build
/uploads
/media
/app/media/uploads
/node_modules

uwsgi.ini
uwsgi_params
robots.txt
