
# File types
*.pyc
*.swo
*.swp
*.swn
*.log
*.mo
*.sqlite3

# Configuration files
desparchado/local_settings.py
environment.json
.requirements_timestamp
.idea
.tags
.tags_sorted_by_file
.env

# Folders
desparchado/static/.sass-cache
desparchado/static/.bundle-gems
desparchado/static/bower_components

/static
/staticfiles
/reports
/doc/build
/uploads
/media
/app/media/uploads
/node_modules
