# File types
*.pyc
*.swo
*.swp
*.swn
*.log
*.mo

# Coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover

# Configuration files
environment.json
.requirements_timestamp
.idea
.tags
.tags_sorted_by_file
.env

# Folders
.docker_pip_cache
!.docker_pip_cache/.keep
/venv

# Static files
/static
/desparchado/static/dist
/media
/node_modules

uwsgi.ini
uwsgi_params
robots.txt

# Secrets
spreadsheet_credentials.json
