site_name: Desparchado
docs_dir: docs
theme:
  name: material
  logo: assets/logo.svg
  favicon: assets/logo.svg
  language: en
  palette:
    scheme: slate
    primary: orange
    accent: deep purple
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - navigation.instant
    - navigation.sections
    - content.code.annotate
repo_url: https://github.com/cansadadeserfeliz/desparchado
nav:
  - Home: index.md
  - Tutorials:
      - Overview: tutorials/index.md
  - How-To Guides:
      - Overview: how-to-guides/index.md
  - Reference:
      - Overview: references/index.md
  - Explanations:
      - Overview: explanations/index.md
