site_name: Desparchado
repo_url: https://github.com/cansadadeserfeliz/desparchado
docs_dir: docs
theme:
  name: material
  logo: assets/logo.svg
  favicon: assets/logo.svg
  language: es
  palette:
    scheme: slate
    primary: orange
    accent: deep purple
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - navigation.instant
    - navigation.sections
    - content.code.annotate
  custom_dir: docs/overrides
nav:
  - Inicio: index.md
  - Eventos:
      - Tutoriales:
          - tutorials/create-event.md
  - Desarrolladores:
      - Explicaciones:
          - explanations/architecture.md
markdown_extensions:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
extra:
  analytics:
    provider: custom
