site_name: Desparchado
docs_dir: docs
theme:
  name: material
  palette:
    scheme: slate
    primary: deep purple
    accent: amber
  features:
    - navigation.tabs
    - navigation.sections
    - content.code.annotate
nav:
  - Home: index.md
  - Tutorials:
      - Overview: tutorials/index.md
  - How-To Guides:
      - Overview: how-to-guides/index.md
  - Reference:
      - Overview: reference/index.md
  - Explanations:
      - Overview: explanations/index.md
