# Framework
Django==2.0.13

# Python Libs
Pillow==4.0.0
psycopg2==2.7.4  # apt-get install postgis
raven==6.10.0
social-auth-core==3.0.0
requests==2.21.0

# Django Libs
django-autocomplete-light==3.2.10
django-autoslug==1.9.4
django-axes==2.3.2
django-crispy-forms==1.7.2
django-debug-toolbar==1.11.1
django-grappelli==2.9.1
django-map-widgets==0.1.9
django-markdownx==2.0.28
django-model-utils==2.6.1
django-pipeline==1.6.11
django-webtest==1.9.4
factory-boy==2.11.1
social-auth-app-django==3.1.0
