{% load i18n %}

desparchado
<a href="{% url 'events:event_list' %}">{% translate 'eventos' %}</a>
-- <a href="{% url 'blog:post_list' %}">{% translate 'inspiración' %}</a>
-- <a href="{% url 'events:past_event_list' %}">{% translate 'archivo' %}</a>

<a href="https://x.com/DesparchadoCo" target="_blank">{% translate 'X' %}</a>
<a href="https://www.facebook.com/DesparchadoCo" target="_blank">{% translate 'FB' %}</a>
<a href="https://t.me/DesparchadoCo" target="_blank">{% translate 'Telegram' %}</a>
<a href="https://www.instagram.com/desparchado_co/" target="_blank">{% translate 'Insta' %}</a>

{% if user.is_authenticated %}
    <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
      {% csrf_token %}
      <button type="submit">{% translate 'Salir' %}</button>
    </form>
{% else %}
    <a href="{% url "users:login" %}?next={{ request.path }}">{% translate 'Inicia sesión' %}</a>
{% endif %}

<a href="{% url 'events:add_event' %}">{% translate 'Crea un evento' %}</a>
