{% load i18n %}

<header
  style="view-transition-name: header"
  id="header"
  data-vue-component="header"
  data-vue-prop-nav-items='[{"label": "{% translate 'eventos' %}", "link": "{% url 'events:event_list' %}"}, {"label": "{% translate 'archivo' %}", "link": "{% url 'events:past_event_list' %}", "highlight": true}]'
  data-vue-prop-social='[{"type": "tertiary", "name": "Facebook", "link": "https://www.facebook.com/DesparchadoCo", "icon": "facebook"}, {"type": "tertiary", "padding": "balanced", "name": "Instagram", "link": "https://www.instagram.com/desparchado_co/", "icon": "instagram"}, {"type": "tertiary", "name": "Twitter", "link": "https://x.com/DesparchadoCo", "icon": "xsocial"}]'
  data-vue-prop-create-event='{"label": "{% translate 'Crear evento' %}", "link": "{% url 'events:add_event' %}", "type": "primary"}'
  data-vue-prop-brand-name="Desparchado"
  {% if user.is_authenticated %}
    data-vue-prop-is-logged="true"
    data-vue-prop-profile-menu='{"items": [{"label": "{% translate 'Ver mi perfil' %}", "url": "{% url 'users:user_detail' %}"}, {"label": "{% translate 'Eventos agregados' %}", "url": "{% url 'users:user_added_events_list' %}"}, {"label": "{% translate 'Salir' %}", "url": "{% url 'account_logout' %}"}], "name": "perfil"}'
  {% else %}
    data-vue-prop-login='{"label": "{% translate 'Iniciar sesión' %}", "link": "{% url 'account_login' %}?next={{ request.path }}", "type": "tertiary"}'
  {% endif %}

></header>
