{% load i18n staticfiles pipeline desparchado_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Desparchado{% endblock %}</title>

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Desparchado es una plataforma de intercambio de conocimiento. Publicamos anuncios de los eventos culturales y educativos.">
    <meta name="keywords" content="Eventos, events, Bogotá, Colombia, encuentros, talleres, cursos, libros, musica, tiempo libre, ocio">
    <link rel="icon" href="http://desparchado.co/favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  {% block meta %}
  {% endblock meta %}

    <meta name="twitter:site" content="@DesparchadoCo">
    <meta name="yandex-verification" content="23be5300a3865e55" />

    <!-- Bootstrap core CSS -->
    {% stylesheet 'main' %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% google_analytics_code %}
  </head>

  <body>
  {% block body %}

    {% include 'layout/_header.html' %}

    <div class="container">
      {% block content %}{% endblock content %}
    </div><!-- /.container -->

    {% include 'layout/_footer.html' %}

  {% endblock body %}

  {% javascript 'main' %}
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58ced1089d6b2a96"></script>

  {% block javascript %}{% endblock javascript %}

  </body>

</html>
