{% load i18n static pipeline desparchado_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}Desparchado.co{% endblock %}</title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Eventos culturales y educativos en Colombia: programación de conciertos, festivales, ferias, congresos, teatro, arte, conferencias, cine alternativo">
    <meta name="keywords" content="Eventos Bogotá, Eventos Cali, Eventos Madellín, Eventos Cartagena, Conciertos, Talleres, Cursos, agenda cultural, programación, cine arte, libros">
    <meta name="news_keywords" content="Eventos" />
    <link rel="icon" href="https://desparchado.co/favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  {% block meta %}
  {% endblock meta %}

    <meta name="news_keywords" content="Eventos" />
    <meta property="fb:pages" content="DesparchadoCo" />
    <meta name="twitter:site" content="@DesparchadoCo">
    <meta name="yandex-verification" content="23be5300a3865e55" />

    <meta name="google-site-verification" content="fzaFpFH8Q6VYOrIz3z98OPuzP8J99Cty7ic_jb9ApJo" />

    {% stylesheet 'main' %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% javascript 'main' %}

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58ced1089d6b2a96"></script>

    {% block javascript %}{% endblock javascript %}

    {% include 'includes/_yandex_metrika_code.html' %}

    {% google_analytics_code %}
  </head>
  {% block google-structured-markup %}{% endblock %}

  <body>
  {% block body %}

    {% include 'layout/_header.html' %}
    {% block subheader %}{% endblock subheader %}

    <div class="container">
      {% block content %}{% endblock content %}
    </div><!-- /.container -->

    {% include 'layout/_footer.html' %}

  {% endblock body %}

    <script id="dsq-count-scr" src="//desparchado.disqus.com/count.js" async></script>
  </body>

</html>
