<!DOCTYPE html>
{% load i18n django_vite desparchado_tags %}
<html lang="es">
  <head>
  </head>

  <body>
  {% block body %}

    {% include 'old_layout/_header.html' %}
    {% block subheader %}{% endblock subheader %}

    <div class="container my-3">
      {% block content %}{% endblock content %}
    </div><!-- /.container -->

    {% include 'old_layout/_footer.html' %}

  {% endblock body %}

    {% block javascript %}{% endblock javascript %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-43471959-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-43471959-4');
    </script>

    <!-- Umami Cloud -->
    <script defer src="https://cloud.umami.is/script.js" data-website-id="1ccee07e-d5e4-4c95-a986-3b1569f29d9b"></script>

  </body>
</html>
