{% load django_vite %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Playground</title>

    {# This will add a <script> tag to include the ViteJS HMR client. #}
    {# This tag will include this script only if DJANGO_VITE_DEV_MODE is true, otherwise this will do nothing. #}
    {% vite_hmr_client %}

    {% vite_asset 'desparchado/static/ts/playground.ts' %}
    {% vite_asset 'desparchado/frontend/styles/index.scss' %}
    {% vite_asset 'desparchado/frontend/scripts/mount-vue.ts' %}

  </head>
  <body>
    <div>
      <div 
        data-vue-component="header" 
        data-vue-prop-nav-items='[{"label": "Eventos", "link": "/events"}, {"label": "Archivo", "link": "/archive", "highlight": true}]'
        data-vue-prop-social='[{"type": "tertiary", "name": "Facebook", "link": "https://www.facebook.com/", "icon": "xsocial"}, {"type": "tertiary", "padding": "balanced", "name": "Instagram", "link": "https://www.instagram.com/", "icon": "facebook"}, {"type": "tertiary", "name": "Twitter", "link": "https://twitter.com/", "icon": "instagram"}]'
        data-vue-prop-profile-menu='{"items": [{"label": "Ver mi perfil", "url": "item1"}, {"label": "Eventos agregados", "url": "item2"}], "name": "perfil"}'
        data-vue-prop-login='{"label": "Iniciar sesión", "link": "/login", "type": "tertiary"}'
        data-vue-prop-create-event='{"label": "Crear evento", "link": "/events/add", "type": "primary"}'
        data-vue-prop-brand-name="Desparchado"
      ></div>
    </div>
  </body>
</html>
