{% load i18n static desparchado_tags %}

<div class="press-article-detailed-group">
  <div class="press-media-source">
    <img class="image" alt="{{ press_article.media_source.title }}" src="{{ press_article.media_source.get_image_url }}" />
    <a href="{{ press_article.get_absolute_url }}" target="_blank">
      <div>
        {{ press_article.media_source.title }}
      </div>
    </a>
  </div>
  <h2 class="press-article-title">
    <a href="{{ press_article.get_absolute_url }}">{{ press_article.title }}</a>
  </h2>
  <div class="press-article-detail">
    {% if press_article.image %}
      <img class="image img-fluid" src="{{ press_article.get_image_url }}" alt="{{ press_article.title }}">
    {% elif press_article.get_youtube_video_id %}
      <img class="image img-fluid" src="https://img.youtube.com/vi/{{ press_article.get_youtube_video_id }}/0.jpg" alt="{{ press_article.title }}">
    {% endif %}

    {{ press_article.excerpt|markdown }}

  {% if show_content %}
    {% if press_article.get_youtube_video_id %}
    <div class="embedded">
      <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/{{ press_article.get_youtube_video_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    {% endif %}
    {% if press_article.content %}
    <div class="article-content">
      {{ press_article.content|markdown }}
    </div>
    {% endif %}

    {% if not press_article.get_youtube_video_id %}
      <div class="source-url">
        <a href="{{ press_article.source_url }}" class="btn btn-default" target="_blank">VER EN EL SITIO</a>
      </div>
    {% endif %}
  {% else %}
   <a href="{{ press_article.get_absolute_url }}" class="btn btn-primary">VER MÁS</a>
  {% endif %}
    <div class="date">
      {{ press_article.publication_date|date:'l, j F Y' }}
    </div>
  </div>
</div>
