<section class="press-article-detailed-list">
  {% for press_article in press_articles %}
  <div class="press-article-group">
    <div class="press-article">
      <img class="media-source-icon" alt="{{ press_article.media_source.title }}" src="{{ press_article.media_source.get_image_url }}" />
      <div class="press-article-head">
        <h2 class="press-article-title">
          <a href="{{ press_article.source_url }}" target="_blank">{{ press_article.title }}</a>
        </h2>
        <div class="press-article-info">{{ press_article.excerpt }}</div>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
