{% extends 'layout/base.html' %}
{% load paginator_tags %}

{% block title %}{{ book.title }}{% endblock %}

{% block meta %}
  <meta property="og:title" content="Artículos de prensa">
  <meta property="og:description" content="Artículos culturales y educativos en Desparchado.co">

  <meta name="twitter:title" content="Artículos de prensa">
  <meta name="twitter:description" content="Artículos culturales y educativos en Desparchado.co">
{% endblock %}

{% block content %}
  <h1>Artículos culturales y educativos</h1>

  <div class="container press-articles-list-page">
    {% include 'news/_press_articles.html' with press_articles=press_articles %}
  </div>

  <section class="container">
    {% get_simple_pagination %}
  </section>
{% endblock content %}
