{% extends 'layout/base.html' %}
{% load paginator_tags %}

{% block title %}{{ book.title }}{% endblock %}

{% block meta %}
  <meta property="og:title" content="Artículos culturales y educativos">
  <meta property="og:description" content="Artículos culturales y educativos en Desparchado.co">

  <meta name="twitter:title" content="culturales y educativos">
  <meta name="twitter:description" content="Artículos culturales y educativos en Desparchado.co">
{% endblock %}

{% block content %}
  <h1>Artículos culturales y educativos</h1>
  <section class="container">
    {% get_pagination %}
  </section>
{% endblock content %}
