{% extends 'dashboard/layout/base.html' %}
{% load i18n dashboard_tags %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">BLAA Events</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th>Title</th>
              <th>Date</th>
              <th>Type</th>
              <th>Image</th>
              <th>Add event</th>
            </tr>
          </thead>
          <tbody>
          {% for event in events %}
            <tr>
              <td>{{ event.titulo1 }}</td>
              <td>{{ event.fecha_dia }}/{{ event.fecha_mes }}/{{ event.fecha_ano }}</td>
              <td>{{ event.tipo }}</td>
              <td><img src="{{ event.imagen.src }}"></td>
              <td>
                <a href="{% url 'dashboard:event_add' %}?blaa-slug={{ event.contenido_url|escape }}"
                   class="btn btn-primary btn-sm" target="_blank">
                  Add event
                </a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>
<!-- /.row -->
{% endblock content %}
