{% extends 'dashboard/layout/base.html' %}
{% load i18n dashboard_tags %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">BLAA Events</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="table-responsive">
          <table class="table table-hover table-condensed">
            <thead>
              <tr>
                <th>Title</th>
                <th></th>
                <th>Date</th>
                <th>Type</th>
                <th>City</th>
                <th>Image</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            {% for event in events %}
              <tr>
                <td>
                {% if event.desparchado_event %}
                  <span class="status-icon bg-success"></span>
                  <a target="_blank" href="{{ event.desparchado_event.get_absolute_url }}">
                    {{ event.titulo1 }}
                  </a>
                {% else %}
                  <span class="status-icon bg-gray"></span>
                  {{ event.title }}
                {% endif %}
                </td>
                <td class="w-1">

                </td>
                <td>{{ event.date }}</td>
                <td>{{ event.type_activity }}</td>
                <td>{{ event.city }} / {{ event.place }}</td>
                <td class="text-center w-2">
                  <img src="{{ event.image.src }}">
                </td>
                <td class="w-1">
                {% if event.desparchado_event %}
                  <a href="{% url 'events:event_update' event.desparchado_event.pk %}" target="_blank">
                    <i class="ti ti-edit-circle" data-toggle="tooltip" title="Añadir evento"></i>
                  </a>
                {% else %}
                  <a href="{% url 'dashboard:event_add' %}?blaa-slug={{ event.contenido_url|escape }}" target="_blank">
                    <i class="ti ti-circle-plus" data-toggle="tooltip" title="Añadir evento"></i>
                  </a>
                {% endif %}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

        <nav aria-label="..." style="overflow: scroll;">
          <ul class="pagination pagination-sm">
          {% for page in pages %}
            <li class="page-item {% if page == current_page %}active{% endif %}"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
          {% endfor %}
          </ul>
        </nav>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>
<!-- /.row -->
{% endblock content %}
