{% extends 'games/hunting_of_snark_base.html' %}
{% load i18n static desparchado_tags %}

{% block title %}La caza del Snark. Posibles criterios{% endblock %}

{% block meta %}
  <meta property="og:title" content="La caza del Snark. Posibles criterios | Desparchado.co">
  <meta property="og:description" content="Juego literario">
  <meta property="og:image" content="https://{{ request.get_host }}{% static 'images/hunting_of_snark_game_bg.jpeg' %}">

  <meta name="twitter:title" content="La caza del Snark. Posibles caracteristicas | Desparchado.co">
  <meta name="twitter:description" content="Juego literario">
{% endblock %}

{% block subheader_title %}La caza del Snark. Posibles criterios{% endblock subheader_title %}

{% block content %}
  <section class="hunting-of-snark" id="hunting_of_snark_detail">

    <div class="text">

      {% for category in categories %}
        <h3>{{ category.name }}</h3>
        <div>
          {% for criteria in category.criteria.all %}
            {{ criteria.public_id }}). <div class="hunting-of-snark-criteria-name">{{ criteria.name|markdown }}</div><br>
          {% endfor %}
        </div>
      {% endfor %}

      <br>

      <p>Compártalo con sus amigos:</p>
      <p>
        <div class="addthis_inline_share_toolbox"></div>
      </p>

      <p>
        <a href="{% url 'games:hunting_of_snark_create' %}">Volver al juego</a>
      <br>
    </div>
  </section>
{% endblock content %}
