{% extends 'layout/base.html' %}
{% load i18n staticfiles %}

{% block title %}La caza del Snark{% endblock %}

{% block meta %}
  <meta property="og:title" content="La caza del Snark en Desparchado.co">
  <meta property="og:description" content="Juego literario">
  <meta property="og:image" content="https://{{ request.get_host }}">

  <meta name="twitter:title" content="La caza del Snark en Desparchado.co">
  <meta name="twitter:description" content="Juego literario">
{% endblock %}

{% block subheader %}
<section class="game-header" style="background-image: url('{% static 'images/hunting_of_snark_bg.jpeg' %}')">
  <div class="overlay"></div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="game-heading">
          <h1>La caza del Snar para {{ game.player_name|default:'ti' }}</h1>
          <span class="subheading">Juego literario</span>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock subheader %}

{% block content %}

  <section id="hunting_of_snark_form">

    <h1>La caza del Snark para {{ game.player_name|default:'ti' }}</h1>

    {% for criteria in game.criteria.all %}
      {{ criteria.public_id }}). {{ criteria.name }}<br>
    {% endfor %}

  </section>

{% endblock content %}
