{% extends 'layout/base.html' %}
{% load i18n static desparchado_tags %}

{% block title %}La caza del Snark{% endblock %}

{% block meta %}
  <meta property="og:title" content="La caza del Snark en Desparchado.co">
  <meta property="og:description" content="Juego literario">
  <meta property="og:image" content="https://{{ request.get_host }}{% static 'images/hunting_of_snark_bg.jpeg' %}">

  <meta name="twitter:title" content="La caza del Snark en Desparchado.co">
  <meta name="twitter:description" content="Juego literario">
{% endblock %}

{% block subheader %}
<div class="games-header-menu">
  <ul class="nav justify-content-center">
    <li class="nav-item" role="presentation">
      <a class="nav-link" href="{% url 'games:hunting_of_snark_create' %}">Jugar</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" href="{% url 'games:hunting_of_snark_criteria_list' %}">Criterios</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" href="{% url 'games:hunting_of_snark_games_list' %}">Juegos</a>
    </li>
  </ul>
</div>
<section class="game-header"
         style="background-image: url('{% block subheader_bg_url %}{% static 'images/hunting_of_snark_bg.jpeg' %}{% endblock subheader_bg_url %}')">
  <div class="overlay"></div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="game-heading">
          <h1>
            {% block subheader_title %}La caza del Snark{% endblock subheader_title %}
          </h1>
          <span class="subheading">
            <a href="{% url 'games:hunting_of_snark_create' %}">
              {% block subheader_subtitle %}Juego literario{% endblock subheader_subtitle %}
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock subheader %}

{% block content %}
{% endblock content %}
