{% extends 'games/hunting_of_snark_base.html' %}
{% load i18n staticfiles django_markdown %}

{% block title %}La caza del Snark{% endblock %}

{% block meta %}
  <meta property="og:title" content="La caza del Snark para {{ game.player_name|default:'usted' }} en Desparchado.co">
  <meta property="og:description" content="Juego literario">
  <meta property="og:image" content="https://{{ request.get_host }}{% static 'images/hunting_of_snark_game_bg.jpeg' %}">

  <meta name="twitter:title" content="La caza del Snark para {{ game.player_name|default:'usted' }} en Desparchado.co">
  <meta name="twitter:description" content="Juego literario">
{% endblock %}

{% block subheader_bg_url %}{% static 'images/hunting_of_snark_game_bg.jpeg' %}{% endblock subheader_bg_url %}
{% block subheader_title %}La caza del Snark para {{ game.player_name|default:'ti' }}{% endblock subheader_title %}

{% block content %}

  <section class="hunting-of-snark" id="hunting_of_snark_detail">

    <h1>La caza del Snark para {{ game.player_name|default:'usted' }}</h1>

    <div class="text">
      <div>
        {% for criteria in game.criteria.all %}
          {{ criteria.public_id }}). <div class="hunting-of-snark-criteria-name">{{ criteria.name|markdown }}</div><br>
        {% endfor %}
      </div>

      <br>

      <script type="text/javascript">
          function select_url() {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($('#game_url_input').val()).select();
            document.execCommand("copy");
            $temp.remove();
          }
      </script>

      <form id="game_url_input" class="form-inline form-horizontal">
        <div class="form-group">
          <div class="input-group">
            <input id="game_url_input" type="text" class="form-control" value="https://{{ request.get_host }}{{ request.get_full_path }}" readonly>
            <div class="input-group-addon btn" onclick="select_url()">COPIAR</div>
          </div>
        </div>
      </form>

      <br>

      <p>
        <a href="{% url 'games:hunting_of_snark_create' %}" class="btn btn-sm btn-primary">VER LAS REGLAS DEL JUEGO</a>
      </p>

      <p>Compártalo con sus amigos:</p>
      <p>
        <div class="addthis_inline_share_toolbox"></div>
      </p>

      <p>
        <a href="{% url 'games:hunting_of_snark_criteria_list' %}" class="btn btn-sm btn-primary">VER TODAS LAS CARACTERISTICAS</a>
      </p>
    </div>
  </section>

{% endblock content %}
