{% extends 'games/hunting_of_snark_base.html' %}
{% load i18n static crispy_forms_tags %}

{% block content %}
  <section class="hunting-of-snark" id="hunting_of_snark_form">

    <h1>La caza del Snark. Reglas del juego:</h1>

    <div class="text">
      <p>
        El tiempo para terminar el juego es un año.
        Entre los participantes se sortea
        <a href="{% url 'games:hunting_of_snark_criteria_list' %}">un conjunto de características de libros</a>,
        que pueden ser imagen en la portada, país, lugar de acción, género, etc.
      </p>

      <p>Las reglas del juego son las siguientes:</p>

      <ol>
        <li>El participante declara cuántas características de libros quiere recibir. El máximo es 50.</li>
        <li>Luego el sistema saca aleatoriamente el número de características requerido.</li>
        <li>
          El participante debe encontrar y leer durante el año
          los libros que corresponden a cada una de las características.
          No se puede contar el mismo libro para dos o más características.
        </li>
        <li>Al final del año el participante hace un reporte de su experiencia (es opcional).</li>
      </ol>
    </div>

    {% crispy form %}

    <div class="text">
      <p>
        ¿Generaste el juego y olvidaste el enlace? No te preocupes,
        <a href="{% url 'games:hunting_of_snark_games_list' %}">aquí</a>
        lo puedes encontrar.
      </p>

      <br>

      <p>Compártelo con sus amigos:</p>
      <p>
        <div class="addthis_inline_share_toolbox"></div>
      </p>
    </div>

    {% include 'includes/_disqus_comments.html' with page_id="game-index-page" %}

  </section>
{% endblock content %}
