{% extends 'layout/base.html' %}
{% load i18n static desparchado_tags %}

{% block title %}La caza del Snark{% endblock %}

{% block meta %}
  <meta property="og:title" content="La caza del Snark en Desparchado.co">
  <meta property="og:description" content="Juego literario">
  <meta property="og:image" content="https://desparchado.co{% static 'images/hunting_of_snark_bg.jpeg' %}">

  <meta name="twitter:title" content="La caza del Snark en Desparchado.co">
  <meta name="twitter:description" content="Juego literario">
{% endblock %}

{% block subheader %}
<section
  class="p-5 text-center bg-image page-img-title"
  style="
    background-image: url('{% block subheader_bg_url %}{% static 'images/hunting_of_snark_bg.jpeg' %}{% endblock subheader_bg_url %}');
    height: 400px;
  "
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.1);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3 display-3 title">{% block subheader_title %}La caza del Snark{% endblock subheader_title %}</h1>
        <h4 class="mb-3 subtitle">
          {% block subheader_subtitle %}Juego literario{% endblock subheader_subtitle %}
        </h4>
      </div>
    </div>
  </div>
</section>

<div class="games-header-menu">
  <ul class="nav nav-pills justify-content-center">
    <li class="nav-item" role="presentation">
      <a class="nav-link" href="{% url 'games:hunting_of_snark_create' %}">Jugar</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" href="{% url 'games:hunting_of_snark_criteria_list' %}">Criterios</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" href="{% url 'games:hunting_of_snark_games_list' %}">Juegos</a>
    </li>
  </ul>
</div>
{% endblock subheader %}

{% block content %}
{% endblock content %}
