{% extends 'layout/base.html' %}
{% load paginator_tags %}

{% block title %}Eventos en {{ city.name }}{% endblock %}

{% block meta %}
  <meta property="og:title" content="Eventos en {{ city.name }} | Desparchado.co">
  <meta property="og:description" content="Juego literario">
  <meta property="og:image" content="https://{{ request.get_host }}{{ city.get_image_url }}">

  <meta name="twitter:title" content="Eventos en {{ city.name }} | Desparchado.co">
  <meta name="twitter:description" content="Actividades culturales en {{ city.name }}">
{% endblock %}

{% block subheader %}
<section class="city-header"
         style="background-image: url('{{ city.get_image_url }}')">
  <div class="overlay"></div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="city-heading">
          <h1>{{ city.name }}</h1>
          <span class="subheading">{{ city.description }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock subheader %}

{% block content %}

  <section id="city_detail">

    <section class="container">
      <div class="text-center">
        <a href="{% url 'events:add_event' %}" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i>&nbsp;AÑADIR EVENTO</a>
      </div>
    </section>

    {% if events %}

      <h4>Próximos eventos en {{ city.name }}</h4>

      {% include 'events/_events_grid.html' %}

    {% endif %}

    {% if past_events %}

      <h4>Eventos pasados en {{ city.name }}</h4>

      {% include 'events/_events_grid.html' with events=past_events %}

    {% endif %}

  </section>

{% endblock content %}
