{% extends 'layout/base.html' %}
{% load django_markdown desparchado_tags %}

{% block title %}Eventos en {{ place.name }} | Desparchado.co{% endblock %}

{% block content %}
<section id="place-detail" class="container">

  <div class="place-heading">
    <h1 class="place-title">{{ place.name }}</h1>
    <div class="place-description">{{ place.description|markdown }}</div>

  {% if user|user_can_edit_place:place %}
    <div class="event-edit text-center">
      <a href="{% url 'places:place_update' place.pk %}" class="btn btn-sm btn-default">EDITAR LUGAR</a>
    </div>
  {% endif %}
  </div>

  {% include 'includes/_map.html' with title=place subtitle='' latitude=place.get_latitude_str longitude=place.get_longitude_str css_class='place-map' %}

</section><!--/#place-detail-->

{% if events %}

  <h4>Próximos eventos</h4>

  {% include 'events/_events_grid.html' %}

{% endif %}

{% if past_events %}

  <h4>Eventos pasados</h4>

  {% include 'events/_events_grid.html' with events=past_events %}

{% endif %}

{% endblock content %}
