{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% if place %}Editar lugar{% else %}Añadir lugar{% endif %}{% endblock %}

{% block content %}
<h2 class="text-center">{% if place %}Editar lugar{% else %}Añadir nuevo lugar{% endif %}:</h2>

<section id="event_form_container" class="container">
  {% crispy form %}
</section>
{% endblock content %}

{% block extra_css %}
  {{ form.media.css }}
{% endblock extra_css %}

{% block javascript %}
  {{ form.media.js }}
{% endblock javascript %}

