{% extends 'layout/base.html' %}
{% load i18n staticfiles django_markdown %}


{% block subheader %}
<section class="blog-header" style="background-image: url('{{ post.get_image_url }}')">
  <div class="overlay"></div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{ post.title }}</h1>
          <h2 class="subheading">{{ post.subtitle }}</h2>
          <span class="meta">Publicado por
            <a href="#">{{ post.created_by.username }}</a>
            el {{ post.created|date:'DATE_FORMAT' }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock subheader %}

{% block content %}
  <div class="post-content">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ post.content|markdown }}
      </div>
    </div>
  </div>
{% endblock content %}
