{% extends 'layout/base.html' %}
{% load i18n static %}

{% block title %}Blog{% endblock %}

{% block subheader %}
<section
  class="p-5 text-center bg-image page-img-title"
  style="
    background-image: url('{% static 'images/blog-header.jpeg' %}');
    height: 400px;
  "
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3 display-3 title">Blog</h1>
        <h4 class="mb-3 subtitle">Reseñas de eventos, entrevistas</h4>
      </div>
    </div>
  </div>
</section>
{% endblock subheader %}

{% block content %}
  {% for post in posts %}
    <div class="posts-grid-item">
      <a class="text-decoration-none" href="{{ post.get_absolute_url }}">
        <h2 class="title">{{ post.title }}</h2>
        <h3 class="subtitle">{{ post.subtitle }}</h3>
      </a>
      <p class="details">Publicado por
        <i>{{ post.get_author_name }}</i>
        el {{ post.created|date:'DATE_FORMAT' }}</p>
    </div>
  {% endfor %}
{% endblock content %}
