@use '@styles/variables' as *;
@use '@styles/breakpoints' as *;
@use '@styles/functions' as *;
@use '@styles/typography' as *;
@use '@styles/animations' as *;
@use '@styles/mixins' as *;
@use "sass:map";

.select-group {
  background: $color-dp-orange-100;
  border: $hairline_regular;
  border-color: $color-layout-interactive-background;
  border-radius: 100rem;
  width: fit-content;
  display: flex;

  &__item {
    border-radius: 100rem;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $color-black-100;
      border-radius: 100rem;
      opacity: 0;
      transition: 0.5s ease opacity;
      pointer-events: none;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }

    &::before {
      content: "v";
      color: inherit;
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%) scaleX(1.5);
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: cursive;
      pointer-events: none;

      @media (min-width: map.get($breakpoints, m)) {
        padding: 0.75rem 1.5rem;
      }
    }

    select {
      @extend .text-body-highlight;

      font-weight: $f-weight-semibold;
      background: none;
      border: none;
      padding: 0.5rem 1rem;
      padding-right: 1.3rem;
      -moz-appearance:none;
      -webkit-appearance:none;
      appearance:none;
      border-radius: 100rem;
      cursor: pointer;
      min-height: 2.75rem;

      @media (min-width: map.get($breakpoints, m)) {
        padding: 0.75rem 1.5rem;
        min-width: 9ch;
      }

      &:focus-visible {
        outline: 0.125rem solid $color-dp-orange-300;
        outline-offset: 0.125rem;
      }
    }

    &--emphasis {
      background: $color-layout-interactive-background;

      &::before {
         color: $color-layout-background; 
      }

      select {
        color: $color-layout-background;

        option {
          color: $color-layout-foreground;
        }
      }
    }
  }
}