@use '@styles/reset' as *;
@use '@styles/breakpoints' as *;
@use '@styles/fonts' as *;
@use '@styles/functions' as *;
@use '@styles/mixins' as *;
@use '@styles/typography' as *;
@use '@styles/variables' as *;
@use '@styles/animations' as *;
@use "sass:map";

.excluded-from-mobile {
  &.excluded-from-mobile {
    display: none;

    @media (min-width: map.get($breakpoints, m)) {
      display: flex;
    }
  }
}

.excluded-from-desktop {
  &.excluded-from-desktop {
    display: flex;

    @media (min-width: map.get($breakpoints, m)) {
      display: none;
    }
  }
}

header {
  position: sticky;
  top: 0;
  z-index: $elev-over-main;
}

.rich-text-description {
  a {
    padding: 0.375rem 0.625rem;
    background-color: $color-gray-00;
    border: 0.0625rem solid $color-gray-100;
    border-radius: 0.25rem;
    transition: border-color 150ms $ease-out-quart, background-color 150ms $ease-out-quart;
    color: inherit;

    &::after {
      content: '🔗';
      margin-left: 0.25rem;
      text-decoration: none;
    }

    &:hover {
      background-color: $color-dp-orange-10;
      border-color: $color-dp-orange-200;
    }
  }
}

fieldset {
    border: none;
}
