@use '@styles/variables' as *;
@use '@styles/breakpoints' as *;
@use '@styles/mixins' as *;

$font-sizes-heading-1: (
  xs: 60px,
  s: 80px,
  m: 186px,
  l: 250px,
  xl: 250px
);
$font-sizes-subtitle-1: (
  xs: 22px,
  s: 22px,
  m: 58px,
  l: 80px,
  xl: 80px
);
$font-sizes-heading-2: (
  xs: 50px,
  s: 50px,
  m: 115px,
  l: 150px,
  xl: 150px,
);
$font-sizes-heading-3: (
  xs: 23px,
  s: 23px,
  m: 30px,
  l: 50px,
  xl: 50px
);
$font-sizes-heading-4: (
  xs: 14px,
  s: 14px,
  m: 16px,
  l: 24px,
  xl: 24px
);
$font-sizes-heading-5: (
  xs: 16px,
  s: 16px,
  m: 20px,
  l: 20px,
  xl: 20px
);
$font-sizes-body-sm: (
  xs: 13px,
  s: 13px,
  m: 15px,
  l: 15px,
  xl: 15px,
);
$font-sizes-body-md: (
  xs: 14px,
  s: 14px,
  m: 16px,
  l: 16px,
  xl: 16px,
);
$font-sizes-body-lg: (
  xs: 16px,
  s: 16px,
  m: 20px,
  l: 20px,
  xl: 20px,
);
$font-sizes-body-highlight: (
  xs: 14px,
  s: 14px,
  m: 16px,
  l: 20px,
  xl: 20px,
);
$font-sizes-caption: (
  xs: 12px,
  s: 12px,
  m: 14px,
  l: 14px,
  xl: 14px,
);
$font-sizes-header-item: (
  xs: 24px,
  s: 16px,
  m: 16px,
  l: 16px,
  xl: 16px,
);

.text-heading-1 {
  text-transform: uppercase;

  @include fluid-typography-styles(
    $font-tertiary,
    0.63,
    $font-sizes-heading-1,
    $breakpoints
  );
}

.text-subtitle-1 {
  font-style: italic;

  @include fluid-typography-styles(
    $font-secondary,
    1,
    $font-sizes-subtitle-1,
    $breakpoints
  );
}

.text-heading-2 {
  text-transform: uppercase;

  @include fluid-typography-styles(
    $font-tertiary,
    1,
    $font-sizes-heading-2,
    $breakpoints
  );
}

.text-heading-3 {
  font-style: italic;

  @include fluid-typography-styles(
    $font-secondary,
    1,
    $font-sizes-heading-3,
    $breakpoints
  );
}

.text-heading-4 {
  font-weight: $f-weight-semibold;
  letter-spacing: -0.06em;

  @include fluid-typography-styles(
    $font-primary,
    1,
    $font-sizes-heading-4,
    $breakpoints
  );
}

.text-heading-5 {
  font-style: italic;

  @include fluid-typography-styles(
    $font-secondary,
    1,
    $font-sizes-heading-5,
    $breakpoints
  );
}

.text-body-sm {
  font-weight: $f-weight-medium;
  letter-spacing: -0.04em;

  @include fluid-typography-styles(
    $font-primary,
    1.8,
    $font-sizes-body-sm,
    $breakpoints
  );
}

.text-body-md {
  font-weight: $f-weight-medium;
  letter-spacing: -0.03em;

  @include fluid-typography-styles(
    $font-primary,
    1.5,
    $font-sizes-body-md,
    $breakpoints
  );
}

.text-body-lg {
  letter-spacing: -0.05em;

  @include fluid-typography-styles(
    $font-primary,
    1.5,
    $font-sizes-body-lg,
    $breakpoints
  );
}

.text-body-highlight {
  letter-spacing: -0.03em;

  @include fluid-typography-styles(
    $font-primary,
    1,
    $font-sizes-body-highlight,
    $breakpoints
  );
}

.text-caption {
  letter-spacing: -0.02em;

  @include fluid-typography-styles(
    $font-primary,
    1,
    $font-sizes-caption,
    $breakpoints
  );
}

.text-nav-item {
  text-transform: uppercase;

  @include fluid-typography-styles(
    $font-primary,
    1,
    $font-sizes-header-item,
    $breakpoints
  );
}

.text-regular {
  font-weight: $f-weight-regular;
}

.text-medium {
  font-weight: $f-weight-medium;
}

.text-bold {
  font-weight: $f-weight-bold;
}