$main-variable-testing: blue;

$font-humane: 'Humane', sans-serif;
$font-nohemi: 'Nohemi', sans-serif;
$font-newsreader: 'Newsreader', serif;

$font-primary: $font-nohemi;
$font-secondary: $font-newsreader;
$font-tertiary: $font-humane;

$f-weight-regular: 400;
$f-weight-medium: 500;
$f-weight-bold: 700;
