{% extends 'layout/base.html' %}
{% load i18n static %}

{% block content %}
<section class="container clearfix">
  <h2 class="text-justify text-center">
    Acerca de
  </h2>
</section>

<div class="about">
  <p>
    <b>Desparchado.co</b> es un proyecto sin ánimo de lucro,
    que sirve para compartir eventos culturales y educativos
    y darles más visibilidad.
    Los anuncios de los eventos pueden ser publicados en la página web por
    editores o usuarios registrados.
  </p>

  <p>
    Nosotros queremos que una persona tenga la oportunidad de construir
    su trayectoria educativa en función de sus necesidades,
    la curiosidad y el deseo de aprender algo nuevo.
    Creamos un ambiente donde todos pueden enseñar y aprender.
  </p>

  <h3 class="text-center">¿Quién puede crear eventos?</h3>

  <p>
    Cualquiera puede crear un anuncio de su evento en <b>Desparchado.co</b>
    de forma independiente y gratuita.
    Para hacer esto, haga clic en el botón «Añadir evento» en
    la esquina superior derecha de la página principal del sitio.
  </p>

  <h3 class="text-center">¿Qué tipos de eventos se puede publicar?</h3>

  <p>
    En <b>Desparchado.co</b> sólo se publican los siguentes tipos de eventos:
  </p>

  <ul>
    <li>conferencias publicas y debates</li>
    <li>obras de teatro, conciertos y proyecciones de películas</li>
    <li>talleres y seminarios</li>
    <li>lecturas públicas y encuentros con escritores</li>
    <li>exposiciones, instalaciones y recorridos</li>
    <li>festivales</li>
  </ul>

  <p>
    Los eventos publicados deben estar abiertos a todos los públicos.
    No publicamos anuncios publicitarios,
    ofertas para comprar un certificado, un cupón o usar el servicio,
    actividades que tienen un propósito utilitario directo (por ejemplo,
    consultorio de un médico, consulta de un psicólogo),
    ventas,
    eventos de naturaleza política (marchas, protestas, acciones políticas),
    horarios para cursos en serie,
    eventos en línea (exposiciones virtuales, seminarios web,
    entrenamientos en línea),
    actividades dirigidas a insultar a una persona
    o grupo de personas en particular,
    actividades de naturaleza cerrada (privada).
  </p>

  <p>
    Si el evento no coincide con las condiciones mencionadas,
    los editores de <b>Desparchado.co</b> no lo aceptarán para su publicación.
  </p>

</div>

<div class="about">
  <p><small>
    En Desparchado.co sólo brindamos un espacio en Internet para hacer
    difusión de eventos culturales, generalmente publicados en nuestro
    sitio por voluntarios. El registro de asistentes, tiquetes, boletería,
    inscripciones son manejados por los organizadores de cada evento, con
    quienes, por lo general, no tenemos contacto directo.
    Le recomendamos contactar al organizador del evento o al sitio donde
    el evento tendrá lugar para solicitar información sobre la inscripción
    en el caso de que sea necesario.
  </small></p>
</div>

{% endblock content %}
