{% extends 'layout/base.html' %}

{% block subheader %}
<div class="card card-body bg-light promo">
 <div class="container">
    <h4>
      <b>Desparchado.co</b> es un proyecto sin ánimo de lucro, que sirve
      para compartir eventos culturales y educativos y darles más visibilidad.
      Los anuncios de los eventos pueden ser publicados en la página web por editores
      o usuarios registrados.
    </h4>
  </div>
</div>
{% endblock subheader %}

{% block content %}

  <section class="container">
    <div class="text-center">
      <a href="{% url 'events:add_event' %}" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i>&nbsp;AÑADIR EVENTO</a>
    </div>
  </section>

  {% include 'events/_events_grid.html' %}

  <section class="container">
    <div class="text-center">
      <a href="{% url 'events:event_list' %}" class="btn btn-sm btn-primary">VER TODOS LOS EVENTOS</a>
    </div>

    <hr>
  </section>

  {% if past_events %}

    <section class="container clearfix">
      <h2 class="text-justify text-center">Eventos pasados</h2>
    </section>

    {% include 'events/_events_grid.html' with events=past_events %}

    <section class="container">
      <div class="text-center">
        <a href="{% url 'events:past_event_list' %}" class="btn btn-sm btn-primary">VER MÁS EVENTOS PASADOS</a>
      </div>
    </section>

  {% endif %}

  <section class="container clearfix">
    <h2 class="text-justify text-center">Ciudades</h2>
  </section>

  {% include 'places/_cities_grid.html' with cities=global_cities %}

  <section class="container clearfix">
    <h2 class="text-justify text-center">Blog</h2>
  </section>

  {% include 'blog/_posts_grid.html' %}

{% endblock content %}
