{% extends 'layout/base.html' %}
{% load i18n static %}

{% block content %}
  <section class="container">
    <div class="row text-center clearfix">
      <div class="col-sm-8 col-sm-offset-2">
        <h2 class="title-one">Términos y Condiciones</h2>
      </div>
    </div>
  </section>

  <section class="container">
    <p>
      Estos términos y condiciones de uso del portal Desparchado.co (en adelante, el "Portal")
      regulan el uso que Usted puede dar como Visitante al contenido publicado en el Portal,
      así como la conducta que Usted puede desarrollar durante su visita y uso del Portal.
      Por el solo hecho de visitar el Portal, Usted acepta estos términos y condiciones y
      consiente en someterse a los mismos. Usted asume la responsabilidad por el uso que haga
      del Portal. Es su responsabilidad revisar y cumplir estos Términos y Condiciones de Uso
      periódicamente.
    </p>

    <h3>Condiciones de acceso</h3>

    <p>
      El acceso al Portal por parte de los Visitantes es libre y gratuito.
      El acceso al Portal permite acceder a toda la información publicada
      por administradores de Desparchado y por los usuarios registrados.
    </p>

    <p>
      Para publicar nuevos artículos en www.desparchado.co, será necesario el registro por parte
      del usuario, con ingreso de datos personales y definición de una contraseña.
    </p>

    <h3>Condiciones de Uso del Contenido Público</h3>

    <p>
      El Contenido (que incluye o puede incluir textos, información, imágenes,
      logos, diseños, software, aplicaciones) es propiedad exclusiva de Desparchado.
    </p>
  </section>

  <section class="container">
    <div class="row text-center clearfix">
      <div class="col-sm-8 col-sm-offset-2">
        <h2 class="title-one">Privacidad</h2>
      </div>
    </div>
  </section>

  <section class="container">
    <p>
      Este sitio web www.desparchado.co garantiza que la información personal que usted envía
      cuenta con la seguridad necesaria. Los datos ingresados por usuario o en el caso de requerir
      una validación de los pedidos no serán entregados a terceros,
      salvo que deba ser revelada en cumplimiento a una orden judicial o requerimientos legales.

      La suscripción a boletines de correos electrónicos publicitarios es voluntaria y podría
      ser seleccionada al momento de crear su cuenta.

      Desparchado reserva los derechos de cambiar o de modificar estos términos sin previo aviso.
    </p>

  </section>


{% endblock content %}
