{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

  <div class="login-form">
    <h3 class="secondary-title">Ingresar</h3>
    {% crispy form %}

    {% comment %}
    ¿Olvidó su contraseña?
    {% endcomment %}

    <div class="text-center">
      ¿No tiene una cuenta?
      <a href="{% url "users:register" %}" class="hover-color list-inline-item">
        REGÍSTRESE
      </a>
    </div>

    {% comment %}
    <br />

    <div class="text-center">
      <a href="{% url "social:begin" "facebook" %}?next={{ request.path }}" class="hover-color list-inline-item">
        <i class="fa fa-facebook-square"></i>
        Ingresar con Facebook
      </a>
    </div>
  </div>
  {% endcomment %}

{% endblock content %}
