{% extends 'layout/base.html' %}
{% load i18n crispy_forms_tags %}

{% block content %}

  <div class="login-form">
    <h3 class="secondary-title">Ingreso</h3>

    <p>Para agregar eventos y reseñas tienes que ingresar al sitio.</p>

    {% crispy form %}

    <hr>

    <div class="text-center">
      <b>¿No tienes una cuenta?</b> ¡No hay problema!
      <br />
      El registro es muy fácil
      <br />
      <div
          data-vue-component="button"
          data-vue-prop-type="secondary"
          data-vue-prop-label="{% translate 'Regístrate aquí' %}"
          data-vue-prop-link="{% url "users:register" %}"
      >
      </div>
    </div>

    <br />

    <div class="text-center">
      ¿Olvidaste tu contraseña?
      <br />
      <div
          data-vue-component="button"
          data-vue-prop-type="secondary"
          data-vue-prop-label="{% translate 'Recupera tu contraseña aquí' %}"
          data-vue-prop-link="{% url "users:password_reset" %}"
      >
      </div>
    </div>
  </div>

{% endblock content %}

