{% autoescape off %}
Ha recibido este correo electrónico porque ha solicitado restablecer la
contraseña para su cuenta en {{ site_name }}."


Por favor, vaya a la página siguiente y escoja una nueva contraseña:

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
Su nombre de usuario, en caso de haberlo olvidado: {{ user.get_username }}

¡Gracias por usar nuestro sitio!

El equipo de {{ site_name }}.
{% endautoescape %}
