{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

  <div class="password-reset-confirm">
    <h3 class="secondary-title">Confirmación de restablecimiento de contraseña</h3>

  {% if validlink %}
    <div class="text-center">
      Por favor, ingrese su contraseña nueva dos veces para verificar que la
      ha escrito correctamente.
    </div>

    {% crispy form %}
  {% else %}
    <div class="text-center">
      El enlace de restablecimiento de contraseña era inválido, seguramente porque
      se haya usado antes. Por favor, solicite un nuevo restablecimiento de
      contraseña.
    </div>
  {% endif %}
  </div>
{% endblock content %}
