{% extends 'old_layout/base.html' %}

{% block content %}

  <div class="password-reset-done">
    <h3 class="secondary-title">Restablecimiento de contraseña enviado</h3>

    <div class="text-center">
      Le hemos enviado por email las instrucciones para restablecer
      la contraseña, si es que existe una cuenta con la dirección electrónica
      que indicó. Debería recibirlas en breve.

      Si no recibe un correo, por favor asegúrese de que ha introducido
      la dirección de correo con la que se registró y verifique su carpeta de spam.
    </div>
  </div>
{% endblock content %}



