$container-max-width: 1400px;
$container-padding: 1rem;

$events-grid-columns: 3;

$size-100: .25rem;
$size-300: .5rem;
$size-300: .75rem;
$size-400: 1rem;
$size-500: 1.25rem;
$size-600: 1.5rem;
$size-700: 2rem;
$size-800: 2.5rem;
$size-900: 3rem;
