{% extends 'layout/base.html' %}

{% block title %}Página no encontrada | Desparchado.co{% endblock %}

{% block content %}

  <h1>Página no encontrada</h1>

  <p>La página que busca no está disponible por alguna de las siguientes razones:</p>

  <ul>
    <li>El vínculo que conduce a esta página es incorrecto o demasiado antiguo.</li>
    <li>Ha llegado hasta aquí por medio de un marcador vinculado a una página que ha cambiado de ubicación.</li>
  </ul>

  <p>
    <a href="/">Volver al inicio de desparchado.co</a>
  </p>

{% endblock %}
