{% extends 'layout/base.html' %}

{% block title %}Página no encontrada | Desparchado.co - Eventos en Bogotá{% endblock %}

{% block content %}

  <h3>Página no encontrada</h3>
  <h1>ESTA PÁGINA ESTÁ PERDIDA EN EL LIMBO</h1>

  <p>La página que busca no está disponible por alguna de las siguientes razones:</p>

  <ul>
    <li>El vínculo que conduce a esta página es incorrecto o demasiado antiguo.</li>
    <li>Ha llegado hasta aquí por medio de un marcador vinculado a una página que ha cambiado de ubicación.</li>
  </ul>

  <p>
    <a class="btn btn-primary" href="/">Volver al inicio de desparchado.co</a>
  </p>

{% endblock %}
