{% extends 'dashboard/layout/base.html' %}
{% load i18n dashboard_tags %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Events</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Type</th>
              <th>Start date</th>
              <th>Created by</th>
              <th>Published</th>
              <th>Approved</th>
            </tr>
          </thead>
          <tbody>
          {% for event in events %}
            <tr>
              <td>{{ event.id }}</td>
              <td>{{ event.title }}</td>
              <td>{{ event.get_event_type_display }}</td>
              <td>{{ event.event_date|date:"SHORT_DATETIME_FORMAT" }}</td>
              <td class="{% if not event.created_by.is_superuser %}bg-yellow disabled color-palette{% endif %}">
                {{ event.created_by }}
              </td>
              <td>
                <span class="label {% if event.is_published %}label-success{% else %}label-danger{% endif %}">
                  {{ event.is_published|yesno }}
                </span>
              </td>
              <td>
                <span class="label {% if event.is_approved %}label-success{% else %}label-danger{% endif %}">
                  {{ event.is_approved|yesno }}
                </span>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer clearfix">
        {% get_dashboard_pagination %}
      </div>
    </div>
    <!-- /.box -->
  </div>
</div>
<!-- /.row -->
{% endblock content %}
