{% extends 'dashboard/layout/base.html' %}
{% load humanize desparchado_tags %}

{% block content %}
<script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAFbA9J0IcGyy20cl7xd6Le16U_Bx_TSeI'></script>

<div class="row row-deck row-cards">
  <div class="col-sm-6 col-lg-3">
    {% include 'dashboard/includes/_stats_card.html' with value=future_events_count|intcomma title='Eventos futuros' icon='event' color='orange' %}
  </div>
  <div class="col-sm-6 col-lg-3">
    {% include 'dashboard/includes/_stats_card.html' with value=filbo_2025_events_count|intcomma title='Eventos FILBo 2025' icon='event' color='red' %}
  </div>
  <div class="col-sm-6 col-lg-3">
    {% include 'dashboard/includes/_stats_card.html' with value=active_users_count|intcomma title='Usuarios activos' icon='user' color='green' %}
  </div>
  <div class="col-sm-6 col-lg-3">
    {% include 'dashboard/includes/_stats_card.html' with value=organizers_count|intcomma title='Organizadores' icon='organizer' color='yellow' %}
  </div>
  <div class="col-sm-6 col-lg-3">
    {% include 'dashboard/includes/_stats_card.html' with value=speakers_count|intcomma title='Presentadores' icon='speaker' color='pink' %}
  </div>
  <div class="col-sm-6 col-lg-3">
    {% include 'dashboard/includes/_stats_card.html' with value=speakers_filbo_2025_count|intcomma title='Presentadores FILBo 2025' icon='speaker' color='red' %}
  </div>
  <div class="col-sm-6 col-lg-3">
    {% include 'dashboard/includes/_stats_card.html' with value=speakers_without_image_count|intcomma title='Presentadores sin foto' icon='speaker' color='purple' %}
  </div>
  <div class="col-sm-6 col-lg-3">
    {% include 'dashboard/includes/_stats_card.html' with value=places_count|intcomma title='Lugares' icon='place' color='teal' %}
  </div>

  <div class="col-md-6">
    <div class="card card-table table-responsive">
      <div class="card-header">
        <h3 class="card-title">Eventos futuros por fecha</h3>
      </div>
      <div class="table-responsive">
        <table class="table card-table table-striped table-vcenter table-sm">
          <thead>
            <tr>
              <th>Día</th>
              <th>Día de la semana</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
          {% for item in future_events_by_date %}
            <tr>
              <td>{{ item.day|date:'d-m-Y' }}</td>
              <td>{{ item.day|date:'l' }}</td>
              <td class="w-1 fw-bold text-end">{{ item.count }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Eventos futuros en mapa</h3>
      </div>
      <div style='overflow:hidden;height:400px;width:auto;'>
        <div id='map_canvas' style='min-height: 600px;'></div>
        <style>
          #map_canvas img {
            width: auto;
            max-width:none !important;
            background:none !important
          }
        </style>
      </div>
    </div>
  </div>

</div>

<script type='text/javascript'>
    const bounds = new google.maps.LatLngBounds();
    var locations = [
    {% for event in future_events %}
      [
        '{{ event.title }}',
        {{ event.get_latitude_str }},
        {{ event.get_longitude_str }},
        {{ forloop.counter }}]{% if not forloop.last %},{% endif %}
    {% endfor %}
    ];

    var map = new google.maps.Map(document.getElementById('map_canvas'), {
      zoom: 10,
      center: new google.maps.LatLng(4.5930632, -74.0757637),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {
      var position = new google.maps.LatLng(locations[i][1], locations[i][2])

      marker = new google.maps.Marker({
        position: position,
        map: map
      });

      // Stretch our bounds to the newly found marker position
      bounds.extend(position);

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }

    // Automatically center the map fitting all markers on the screen
    map.fitBounds(bounds);
</script>
{% endblock content %}
