{% extends 'dashboard/layout/base.html' %}
{% load humanize desparchado_tags %}

{% block content %}
<script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAFbA9J0IcGyy20cl7xd6Le16U_Bx_TSeI'></script>

<div class="row row-cards">
  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-orange mr-3">
          <i class="fe fe-anchor"></i>
        </span>
        <div>
          <h4 class="m-0"><a href="{% url 'dashboard:events' %}">{{ future_events_count|intcomma }} <small>Future events</small></a></h4>
          <small class="text-muted">Eventos futuros</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-red mr-3">
          <i class="fe fe-user-check"></i>
        </span>
        <div>
          <h4 class="m-0"><a href="{% url 'dashboard:users' %}">{{ active_users_count|intcomma }} <small>Active users</small></a></h4>
          <small class="text-muted">Usuarios activos</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-gray mr-3">
          <i class="fe fe-briefcase"></i>
        </span>
        <div>
          <h4 class="m-0"><a href="javascript:void(0)">{{ organizers_count|intcomma }} <small>Organizers</small></a></h4>
          <small class="text-muted">Organizadores</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-cyan mr-3">
          <i class="fe fe-users"></i>
        </span>
        <div>
          <h4 class="m-0"><a href="javascript:void(0)">{{ speakers_count|intcomma }} <small>Speakers</small></a></h4>
          <small class="text-muted">Presentadores</small>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Future events per weekday</h3>
      </div>
      <div class="table-responsive">
        <table class="table card-table table-striped table-vcenter table-sm">
          <thead>
            <tr>
              <th>Weekday</th>
              <th>Count</th>
            </tr>
          </thead>
          <tbody>
          {% for item in future_events_by_weekday %}
            <tr>
              <td>{{ item.weekday|weekday_to_str }}</td>
              <td>{{ item.count }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Future events per per date</h3>
      </div>
      <div class="table-responsive">
        <table class="table card-table table-striped table-vcenter table-sm">
          <thead>
            <tr>
              <th>Weekday</th>
              <th>Count</th>
            </tr>
          </thead>
          <tbody>
          {% for item in future_events_by_date %}
            <tr>
              <td>{{ item.day|date:'d-m-Y, l' }}</td>
              <td>{{ item.count }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Future events map</h3>
      </div>
      <div style='overflow:hidden;height:400px;width:auto;'>
        <div id='map_canvas' style='height:400px;'></div>
        <style>
          #map_canvas img {
            width: auto;
            max-width:none !important;
            background:none !important
          }
        </style>
      </div>
    </div>
  </div>

</div>

<script type='text/javascript'>
    const bounds = new google.maps.LatLngBounds();
    var locations = [
    {% for event in future_events %}
      [
        '{{ event.title }}',
        {{ event.get_latitude_str }},
        {{ event.get_longitude_str }},
        {{ forloop.counter }}]{% if not forloop.last %},{% endif %}
    {% endfor %}
    ];

    var map = new google.maps.Map(document.getElementById('map_canvas'), {
      zoom: 10,
      center: new google.maps.LatLng(4.5930632, -74.0757637),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {
      var position = new google.maps.LatLng(locations[i][1], locations[i][2])

      marker = new google.maps.Marker({
        position: position,
        map: map
      });

      // Stretch our bounds to the newly found marker position
      bounds.extend(position);

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }

    // Automatically center the map fitting all markers on the screen
    map.fitBounds(bounds);
</script>
{% endblock content %}
