{% extends 'dashboard/layout/base.html' %}
{% load humanize %}

{% block content %}
<div class="row">
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-aqua"><i class="fa fa-calendar"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Published Events</span>
        <span class="info-box-number">{{ total_events_count|intcomma }}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-green"><i class="fa fa-calendar"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Future Events</span>
        <span class="info-box-number">{{ future_events_count|intcomma }}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-yellow"><i class="fa fa-user"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Active users</span>
        <span class="info-box-number">{{ active_users_count|intcomma }}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
{% endblock content %}
