{% extends 'dashboard/layout/base.html' %}
{% load i18n dashboard_tags %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Lugares</h3>
      </div>
      <!-- /.box-header -->

      <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key={{ GOOGLE_MAPS_API_KEY }}'></script>

      <div>
        <div style='overflow:hidden;height:400px;width:auto;'>
          <div id='map_canvas' style='height:300px;'></div>
          <style>
            #map_canvas img {
              width: auto;
              max-width:none !important;
              background:none !important
            }
          </style>
        </div>
      </div>

      <div class="box-body">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Ubicación</th>
              <th>Creado por</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {% for place in places %}
            <tr>
              <td>{{ place.id }}</td>
              <td>{{ place.name }}</td>
              <td>{{ place.city }}</td>
              <td>{{ place.created_by }}</td>
              <td><a href="{% url 'admin:places_place_change' place.pk %}">{% translate 'Editar' %}</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer clearfix">
        {% get_dashboard_pagination %}
      </div>
    </div>
    <!-- /.box -->
  </div>
</div>
<!-- /.row -->

<script type='text/javascript'>
    const bounds = new google.maps.LatLngBounds();
    var locations = [
    {% for place in places %}
      [
        '{{ place.name }}',
        {{ place.get_latitude_str }},
        {{ place.get_longitude_str }},
        {{ forloop.counter }}]{% if not forloop.last %},{% endif %}
    {% endfor %}
    ];

    var map = new google.maps.Map(document.getElementById('map_canvas'), {
      zoom: 10,
      center: new google.maps.LatLng(4.5930632, -74.0757637),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {
      var position = new google.maps.LatLng(locations[i][1], locations[i][2])

      marker = new google.maps.Marker({
        position: position,
        map: map
      });

      // Stretch our bounds to the newly found marker position
      bounds.extend(position);

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }

    // Automatically center the map fitting all markers on the screen
    map.fitBounds(bounds);
</script>

{% endblock content %}
