{% extends 'dashboard/layout/base.html' %}
{% load i18n dashboard_tags %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Lugares</h3>
      </div>
      <!-- /.box-header -->

      <div>
        <div style='overflow:hidden;height:400px;width:auto;'>
          <div id='map_canvas' style='height:400px;'></div>
        </div>
      </div>

      <div class="box-body">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Ubicación</th>
              <th>Creado por</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {% for place in places %}
            <tr>
              <td>{{ place.id }}</td>
              <td>{{ place.name }}</td>
              <td>{{ place.city }}</td>
              <td>{{ place.created_by }}</td>
              <td><a href="{% url 'admin:places_place_change' place.pk %}">{% translate 'Editar' %}</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer clearfix">
        {% get_dashboard_pagination %}
      </div>
    </div>
    <!-- /.box -->
  </div>
</div>
<!-- /.row -->

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script>
(function() {
  var map = L.map('map_canvas').setView([4.5930632, -74.0757637], 10);
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);
  var locations = [
    {% for place in places %}
      ['{{ place.name|escapejs }}', {{ place.get_latitude_str }}, {{ place.get_longitude_str }}]{% if not forloop.last %},{% endif %}
    {% endfor %}
  ];
  var markers = [];
  for (var i = 0; i < locations.length; i++) {
    var m = L.marker([locations[i][1], locations[i][2]]).bindPopup(locations[i][0]).addTo(map);
    markers.push(m);
  }
  if (markers.length > 0) {
    var group = L.featureGroup(markers);
    map.fitBounds(group.getBounds().pad(0.1));
  }
})();
</script>

{% endblock content %}
