{% extends 'dashboard/layout/base.html' %}
{% load i18n dashboard_tags %}

{% block page_title %}Social posts{% endblock %}
{% block page_subtitle %}today {% now 'j b y H:i' %}{% endblock %}

{% block content %}
<div class="table-responsive">
  <table class="table table-condensed table-bordered" style="background-color: white">
    <thead>
      <tr>
        <th>Date</th>
        <th>Publications</th>
      </tr>
    </thead>
    <tbody>
    {% for date, item in future_posts.items %}
      <tr>
        <td style="min-width: 150px; font-size: 18px;"><b>{{ date|date:'j b y' }}</b></td>
        <td>
        {% for event in item.events %}
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="{{ event.get_image_url }}" width="100" class="img-thumbnail">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                <b class="text-red">EVENT:</b> {{ event.title }}
              </h4>

              {{ event.event_date|date:'j b y H:i' }}
            {% if event.event_end_date %}
              - {{ event.event_end_date|date:'j b y H:i' }}
            {% endif %}

              <a class="btn btn-xs btn-default" target="_blank"
                 href="{% url 'admin:events_event_change' event.id %}" >
                <i class="fa fa-edit"></i>
              </a>

            </div>
          </div>

          <hr>
        {% endfor %}

        {% for social_post in item.social_posts %}
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="{{ social_post.event.get_image_url }}" width="100" class="img-thumbnail">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                <b class="text-blue">POST:</b> {{ social_post.event.title }}
              </h4>

             {{ social_post.event.event_date|date:'j b y H:i' }}
          {% if social_post.event.event_end_date %}
            - {{ social_post.event.event_end_date|date:'j b y H:i' }}
          {% endif %}

              <br>
              <b>Description:</b>
              {{ social_post.description }}

              <br>
              <b>{{ social_post.published_at|date:'j b y H:i' }}</b>

              <br>
              <i>{{ social_post.created_by }}</i>

              <a class="btn btn-xs btn-default" target="_blank"
                 href="{% url 'admin:events_event_change' social_post.event.id %}" >
                <i class="fa fa-edit"></i>
              </a>

            </div>
          </div>
        {% endfor %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
