{% extends 'dashboard/layout/base.html' %}
{% load i18n dashboard_tags %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Users</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th>Username</th>
              <th>First Name</th>
              <th>Last name</th>
              <th>Superuser</th>
              <th>Added events count</th>
            </tr>
          </thead>
          <tbody>
          {% for user in users %}
            <tr>
              <td>{{ user.username }}</td>
              <td>{{ user.first_name }}</td>
              <td>{{ user.last_name }}</td>
              <td>
                <span class="label {% if user.is_superuser %}label-success{% else %}label-danger{% endif %}">
                  {{ user.is_superuser|yesno }}
                </span>
              </td>
              <td>{{ user.events_count }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer clearfix">
        {% get_dashboard_pagination %}
      </div>
    </div>
    <!-- /.box -->
  </div>
</div>
<!-- /.row -->
{% endblock content %}
