{% extends 'dashboard/layout/base.html' %}
{% load i18n %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{% translate 'Top de usuarios' %}</h4>
      </div>
      <div class="table-responsive">
        <table class="table table-vcenter card-table">
          <thead>
            <tr>
              <th>{% translate 'Usuario' %}</th>
              <th>{% translate 'Email' %}</th>
              <th>{% translate 'Último ingreso' %}</th>
              <th>{% translate 'Eventos creados' %}</th>
            </tr>
          </thead>
          <tbody>
          {% for user in users_with_most_events %}
            <tr>
              <td>{{ user.get_full_name }} [{{ user.username }}]</td>
              <td class="text-secondary">{{ user.email }}</td>
              <td class="text-secondary">{{ user.last_login }}</td>
              <td class="text-secondary">{{ user.event_count }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{% translate 'Recientemente registrados' %}</h4>
      </div>
      <div class="table-responsive">
        <table class="table table-vcenter card-table">
          <thead>
            <tr>
              <th>{% translate 'Usuario' %}</th>
              <th>{% translate 'Email' %}</th>
              <th>{% translate 'Registro' %}</th>
              <th>{% translate 'Último ingreso' %}</th>
            </tr>
          </thead>
          <tbody>
          {% for user in recently_registered_users %}
            <tr>
              <td>{{ user.get_full_name }} [{{ user.username }}]</td>
              <td class="text-secondary">{{ user.email }}</td>
              <td class="text-secondary">{{ user.last_login }}</td>
              <td class="text-secondary">{{ user.date_joined }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="col-12 mt-4">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">{% translate 'Correos duplicados' %}</h3>
    </div>
    <div class="list-group list-group-flush">
    {% for user in duplicated_emails %}
      <a href="#" class="list-group-item list-group-item-action">{{ user.email }}</a>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
