<div class="card book-card">
  <a href="{{ book.get_absolute_url }}"><img src="{{ book.get_image_url }}" class="card-img-top" alt="{{ book.title }}"></a>
  <div class="card-body">
    <a class="text-decoration-none" href="{{ blog_post.get_absolute_url }}">
      <h5 class="card-title">{{ book.title }}</h5>
    </a>
    <div class="card-text">
      <div class="card-subtitle">Libro</div>
      {% for author in book.authors.all %}
        {{ author.name }}{% if not forloop.last %},{% endif %}
      {% endfor %}
    </div>
  </div>
</div>
