<p>
  <a class="btn btn-secondary" data-bs-toggle="collapse" href="#collapsePriceTags" role="button" aria-expanded="false" aria-controls="collapsePriceTags">
    MOSTRAR PRESIOS
  </a>
</p>

<div class="list-group list-group-flush collapse" id="collapsePriceTags">
{% for book_price_tag in book_price_tags_list %}
  <a href="{{ book_price_tag.url }}" target="_blank" class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <span class="mb-1">{{ book_price_tag.title }}</span>
      <small><i class="fas fa-store"></i></small>
    </div>
  </a>
{% endfor %}
</div>
