<section class="book">
  <a href="{{ book.get_absolute_url }}"><img class="image img-fluid" src="{{ book.get_image_url }}" alt="{{ book.title }}"></a>
  <div class="book-head">
    <h1 class="book-title">
      <a href="{{ book.get_absolute_url }}">
        {{ book.title }}
      </a>
    </h1>
    <div class="book-info">
      {% for author in book.authors.all %}
        {{ author.name }}{% if not forloop.last %},{% endif %}
      {% endfor %}
      <div><a href="{{ book.get_absolute_url }}"><i>leer más</i></a></div>
    </div>
  </div>
</section>
