{% extends 'layout/base.html' %}
{% load i18n static desparchado_tags %}

{% block title %}{{ book.title }}{% endblock %}

{% block meta %}
  <meta property="og:title" content="{{ book.title }}">
  <meta property="og:description" content="Libros en Desparchado.co">
  <meta property="og:image" content="https://{{ request.get_host }}{{ book.get_image_url }}">

  <meta name="twitter:title" content="{{ book.title }}">
  <meta name="twitter:description" content="Libros en Desparchado.co">
{% endblock %}

{% block subheader %}
<div class="card card-body bg-light promo">
  <div class="container">
    <h4>
      ¿Le gusta leer? En Desparchado.co hemos creado un juego literario llamado
      <a href="{% url 'games:hunting_of_snark_create' %}"><b>«La caza del Snark»</b></a>
      para que la lectura sea aún más entretenida y aventurera.
    </h4>
</div>
</div>
{% endblock subheader %}

{% block content %}
  <div class="container book-detail-page">
    <h1 class="book-title">{{ book.title }}</h1>
    <div class="book-authors">
    {% for author in book.authors.all %}
      {% if author.speaker %}
        <a href="{{ author.speaker.get_absolute_url }}">{{ author.name }}</a>{% if not forloop.last %},{% endif %}
      {% else %}
        {{ author.name }}{% if not forloop.last %},{% endif %}
      {% endif %}
    {% endfor %}
    </div>
    <div class="row">
      <div class="col-sm-3">
        <img class="image img-fluid" src="{{ book.get_image_url }}" alt="{{ book.title }}" />

        {% include 'books/_book_prices.html' with book=book %}

      </div>
      <div class="col-sm-9">
        <div class="book-description">
          {{ book.description|markdown }}

          <p>
            <b>ISBN:</b> {{ book.isbn }}
          </p>
        </div>
        <div class="clearfix"></div>
        <div class="addthis_inline_share_toolbox"></div>
      </div>
    </div>
  </div>

  <div class="container">
    {% if book.press_articles.exists %}
      <h4>Artículos relacionados</h4>
      {% include 'news/_press_articles.html' with press_articles=book.press_articles.all %}
    {% endif %}

    {% if related_events %}
      <h4>Eventos relacionados</h4>
      {% include 'events/_events_grid.html' with events=related_events %}
    {% endif %}

    {% include 'includes/_disqus_comments.html' with page_id="book-"|add:book.id %}
  </div>

{% endblock content %}
