{% extends 'layout/base.html' %}
{% load i18n static desparchado_tags %}

{% block title %}{{ book.title }}{% endblock %}

{% block meta %}
  <meta property="og:title" content="Libros en Desparchado.co">
  <meta property="og:description" content="Libros en Desparchado.co">

  <meta name="twitter:title" content="Libros en Desparchado.co">
  <meta name="twitter:description" content="Libros en Desparchado.co">
{% endblock %}

{% block subheader %}
  {% include 'books/_do_you_like_reaging_banner.html' %}
{% endblock subheader %}

{% block content %}
 <div class="container book-list-page">
   {% include 'books/_books_grid.html' with books=books %}
 </div>
{% endblock content %}
