{% extends 'layout/base.html' %}
{% load i18n static desparchado_tags %}

{% block title %}Libros en Desparchado.co{% endblock %}

{% block meta %}
  <meta property="og:title" content="Libros en Desparchado.co">
  <meta property="og:description" content="Libros en Desparchado.co">

  <meta name="twitter:title" content="Libros en Desparchado.co">
  <meta name="twitter:description" content="Libros en Desparchado.co">
{% endblock %}

{% block subheader %}
<div class="card card-body bg-light promo">
  <div class="container">
    <h4>
      ¿Le gusta leer? En Desparchado.co hemos creado un juego literario llamado
      <a href="{% url 'games:hunting_of_snark_create' %}"><b>«La caza del Snark»</b></a>
      para que la lectura sea aún más entretenida y aventurera.
    </h4>
  </div>
</div>
{% endblock subheader %}

{% block content %}
 <div class="container-fluid book-home-page">

   <div class="row">
     <div class="col-sm-8">
        <section class="press-article-detailed-list">
          {% for press_article in articles %}
            {% include 'news/_press_article_detailed.html' with show_content=False %}
          {% endfor %}
        </section>
     </div>
     <div class="col-sm-4">
       {% include 'books/_books_grid.html' with books=books col_size=12 %}
     </div>
   </div>
</div>
{% endblock content %}
