{% extends 'auth/layout/base.html' %}

{% block content %}
<section id="user_detail" class="container-fluid">
  <div class="row">
    <div class="col-sm text-center">
      <h2><strong>{{ added_events_count }}</strong></h2>
      <p><small>eventos publicados</small></p>
    </div>
    <div class="col-sm text-center">
      <h2><strong>{{ days_on_page }}</strong></h2>
      <p><small>días en Desparchado</small></p>
    </div>
  </div>
</section>
{% if reached_event_creation_quota %}
<section class="container text-center">
  <div class="alert alert-danger" role="alert">
    Has alcanzado tu cuota de creación de eventos.
    Por favor espera hasta que se restablezca tu cuota, o contacta al equipo de Desparchado
    a través del
    <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSc7zdXbavBNmMQI69wE9T1Bxt2KVBPg46P11DsVIvQy6vImSg/viewform">formulario de contacto</a>
    si necesitas asistencia o aumentar tu cuota.
  </div>
</section>
{% endif %}
{% endblock content %}
