{% extends 'auth/layout/base.html' %}

{% block content %}
<section id="user_detail" class="container-fluid">
  <div class="row text-center justify-content-center clearfix">
    <div class="col-sm-8 sm-offset-2">
      <img class="round" width="80" height="80" avatar="{{ user_object.first_name }}">
      <h2 class="title-one">{{ user_object.first_name }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm text-center">
      <h2><strong>{{ total_points }}</strong></h2>
      <p><small>puntos</small></p>
    </div>
    <div class="col-sm text-center">
      <h2><strong>{{ added_events_count }}</strong></h2>
      <p><small>eventos publicados</small></p>
    </div>
    <div class="col-sm text-center">
      <h2><strong>{{ days_on_page }}</strong></h2>
      <p><small>días en Desparchado</small></p>
    </div>
  </div>
</section>
{% endblock content %}
