{% extends 'auth/layout/base.html' %}
{% load i18n %}

{% block content %}
<section id="user_detail" class="container-fluid">
  <div class="row">
    <div class="col-sm text-center">
      <h2><strong>{{ added_events_count }}</strong></h2>
      <p><small>{% translate 'eventos publicados' %}</small></p>
    </div>
    <div class="col-sm text-center">
      <h2><strong>{{ days_on_page }}</strong></h2>
      <p><small>{% translate 'días en Desparchado' %}</small></p>
    </div>
  </div>
</section>
{% if reached_event_creation_quota or reached_place_creation_quota or reached_organizer_creation_quota or reached_speaker_creation_quota %}
<section class="container text-center">
  <div class="alert alert-danger" role="alert">
    Has alcanzado tu cuota de creación de
    {% if reached_event_creation_quota %}<strong>eventos</strong>{% endif %}
    {% if reached_place_creation_quota %}<strong>lugares</strong>{% endif %}
    {% if reached_organizer_creation_quota %}<strong>organizadores</strong>{% endif %}
    {% if reached_speaker_creation_quota %}<strong>presentadores</strong>{% endif %}.
    Por favor espera hasta que se restablezca tu cuota, o contacta al equipo de Desparchado
    a través del
    <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSc7zdXbavBNmMQI69wE9T1Bxt2KVBPg46P11DsVIvQy6vImSg/viewform">formulario de contacto</a>
    si necesitas asistencia o aumentar tu cuota.
  </div>
</section>
{% endif %}
{% endblock content %}
