{% extends 'layout/base.html' %}
{% load i18n static desparchado_tags %}

{% block title %}{{ special.title }} en Desparchado.co{% endblock %}

{% block meta %}
  <meta property="og:title" content="{{ special.title }} en Desparchado.co">
  <meta property="og:description" content="{{ special.subtitle }}">
  <meta property="og:image" content="https://desparchado.co{{ special.get_image_url }}">

  <meta name="twitter:title" content="{{ special.subtitle }} en Desparchado.co">
  <meta name="twitter:description" content="{{ special.subtitle }}">
{% endblock %}

{% block subheader %}
<section
  class="p-5 text-center bg-image page-img-title"
  style="
    background-image: url('{{ special.get_image_url }}');
    height: 400px;
  "
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.4);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3 display-3 title">{{ special.title }}</h1>
        <h4 class="mb-3 subtitle">{{ special.subtitle }}</h4>
      </div>
    </div>
  </div>
</section>
{% endblock subheader %}

{% block content %}

  <section class="special-detail" id="special_detail">

    <div class="text">
      {{ special.description|markdown }}
    </div>

    <h3>Presentadores</h3>

    <div>
      <div class="row text-center text-lg-left image-gallery-container">
      {% for speaker in speakers %}
        <div class="col-lg-2 col-md-4 col-12">
          <article class="image-gallery-listing">
            <a class="image-gallery-title image-gallery-title-show" href="{{ speaker.get_absolute_url }}">{{ speaker.name }}</a>
            <div class="image-gallery-image-wrapper">
              <a href="{{ speaker.get_absolute_url }}">
                <div class="image"
                     style="background-image: url('{{ speaker.get_image_url }}');"
                     title="{{ speaker.name }}">
                </div>
              </a>
            </div>
          </article>
        </div>
      {% endfor %}
      </div>
    </div>

    <br>

    <p>Compártalo con sus amigos:</p>
    <p>
      <div class="addthis_inline_share_toolbox"></div>
    </p>

    <div class="d-flex justify-content-start flex-wrap gap-2 my-2">
    {% for event_date in related_events_by_date.keys %}
      <div>
        <a class="btn btn-primary" role="button" href="#{{ event_date|date:"Y-m-d" }}"> {{ event_date|date:"Y-m-d" }}</a>
      </div>
    {% endfor %}
    </div>

    <div>
    {% for event_date, events in related_events_by_date.items %}
        <h3 id="{{ event_date|date:"Y-m-d" }}">{{ event_date|date:"l, j N Y" }}</h3>
        {% include 'events/_events_grid.html' with events=events %}
    {% endfor %}
    </div>

    {% include 'includes/_disqus_comments.html' with page_id="special-"|add:special.slug %}
  </section>

{% endblock content %}
