{% extends 'layout/base.html' %}
{% load i18n static paginator_tags desparchado_tags %}

{% block title %}{{ special.title }} en Desparchado.co{% endblock %}

{% block meta %}
  <meta property="og:title" content="{{ special.title }} en Desparchado.co">
  <meta property="og:description" content="{{ special.subtitle }}">
  <meta property="og:image" content="https://desparchado.co{{ special.get_image_url }}">

  <meta name="twitter:title" content="{{ special.subtitle }} en Desparchado.co">
  <meta name="twitter:description" content="{{ special.subtitle }}">
{% endblock %}

{% block subheader %}
<section
  class="p-5 text-center bg-image page-img-title"
  style="
    background-image: url('{{ special.get_image_url }}');
    height: 400px;
  "
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.4);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3 display-3 title">{{ special.title }}</h1>
        <h4 class="mb-3 subtitle">{{ special.subtitle }}</h4>
      </div>
    </div>
  </div>
</section>
{% endblock subheader %}

{% block content %}

  <section class="special-detail" id="special_detail">

    <div class="text">
      {{ special.description|markdown }}{{ date_now }}
    </div>

    <div class="d-flex justify-content-start flex-wrap gap-2 my-2">
    {% for event_date in event_dates %}
      <div>
        <a class="btn {% if event_date == selected_date %}btn-primary{% else %}btn-secondary{% endif %}" role="button" href="?{{ selected_date_param }}={{ event_date|date:"Y-m-d" }}"> {{ event_date|date:"Y-m-d" }}</a>
      </div>
    {% endfor %}
    </div>

    {% include 'events/_events_grid.html' with events=events %}


    <section class="container">
      {% get_simple_pagination %}
    </section>

  </section>

{% endblock content %}
