.book-detail-page
  margin-top: 20px

  .book-title
    font-size: 36px
    font-weight: 700
    line-height: 42px

  .image
    margin-top: 10px

  .book-description
    line-height: 1.5
    font-size: 20px
