@import "variables"

/* Typography */

body
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-weight: 400
  background: #fff
  color: #43484E
  font-size: 14px

.btn
  border-radius: 0

.btn-primary
  border-color: $secondary-color
  background-color: $secondary-color
  color: $primary-color
  word-spacing: 3px
  &:hover
    color: $secondary-color
    border-color: $primary-color
    background-color: $primary-color

.card
  border-radius: 0
  height: 100%

  .card-title
    overflow: hidden
    margin: 5px 0
    font-size: 16px
    font-weight: 700
    line-height: 19px
    color: $primary-color

  .card-subtitle
    margin: -1px -1px 11px
    letter-spacing: 1px
    text-transform: uppercase
    font-size: 11px
    line-height: 1
    color: $dark-gray

  /* Get images in Bootstrap's card to be the same height/width */
  .card-img-top
    width: 100%
    height: 15vw
    object-fit: cover
    border-radius: 0

  &.event-card
    .event-date
      margin: 12px -1px -6px
      font-size: 13px
      line-height: 21px
      color: $dark-gray
    .event-place
      margin: 12px -1px -6px
      font-size: 13px
      line-height: 21px
      a
        color: $primary-color

.event-city-label
  height: 26px
  padding: 0 11px
  white-space: nowrap
  font-size: 14px
  line-height: 28px
  color: white
  background: $city-label-color
  position: absolute
  display: block
  z-index: 4
  right: 0
  top: 0
  font-weight: 600
  letter-spacing: 1px

.event-price-label
  height: 26px
  padding: 0 11px
  white-space: nowrap
  font-size: 14px
  line-height: 28px
  color: $primary-color
  background: $secondary-color
  position: absolute
  display: block
  z-index: 4
  right: 0
  bottom: 0
  font-weight: 600
  letter-spacing: 1px

/* Header */

.top-nav
  background-color: $secondary-color
  li
    font-size: 14px
    color: #555
    font-weight: 600
    text-transform: uppercase
    letter-spacing: 1px
    a
      color: #555
      padding: 4px 10px
      text-decoration: none
      display: block
      &:hover
        color: $primary-color

.main-nav
  padding-bottom: 4px
  background-color: $primary-color !important
  margin-bottom: 0

  border-bottom: 0

  .header-brand
    padding: 0
    margin: 0
    font-family: 'Grand Hotel', cursive
    color: #fff
    font-size: 36px
    text-transform: capitalize
    letter-spacing: 2px

  .nav-pills
    .nav-link
      font-size: 15px
      font-weight: 700
      text-transform: uppercase
      color: #fff
      letter-spacing: 2px
      padding: 8px 15px 6px
      border-radius: 0

    .nav-link:hover
      color: #171a1d
      background-color: $secondary-color

    &.active
      .nav-link
        color: #fff
        background-color: #33383b
        &:focus
          color: #fff
          background-color: $primary-color

/* Footer */

footer
  background-color: #171a1d
  color: #b3b3b3

  h5
    font-size: 15px
    font-weight: 700
    text-transform: uppercase
    color: #fff
    margin-bottom: 30px
    letter-spacing: 2px

  .logo
    color: #ffffff
    font-family: 'Grand Hotel', cursive
    font-size: 36px

  ul li a.link-secondary
    text-transform: uppercase
    color: #b3b3b3
    font-weight: 500
    font-size: 14px
    display: block
    padding: 8px 0
    border-bottom: 1px solid #444

  .footer-social-icons
    margin-top: 25px
    a
      display: inline-block
      width: 35px
      height: 35px
      cursor: pointer
      background-color: #33383b
      border-radius: 2px
      font-size: 20px
      color: #ffffff
      text-align: center
      line-height: 35px
      margin-right: 3px
      margin-bottom: 5px
