@import "variables"

@import "body"
@import "events"
@import "users"

.form-control
  border-radius: 0

.btn
  border-radius: 0

.btn-primary
  border-color: $secondary-color
  background-color: $secondary-color
  color: $primary-color
  &:hover
    color: $secondary-color
    border-color: $primary-color
    background-color: $primary-color

.secondary-title
  position: relative
  z-index: 1
  padding-bottom: 5px

  &:before
    content: ""
    position: absolute
    width: 30%
    height: 1px
    bottom: 0
    left: 0
    border-bottom: 3px solid $secondary-color

.login-form,
.register-form,
.password-reset-done,
.password-reset-confirm,
.password-reset-complete,
.password-reset-form
  max-width: 450px
  margin: 40px auto
  padding: 30px 20px
  border: 1px solid #e5e5e5
  h3
    margin-bottom: 20px

/* Organizer list */

.organizer-card
  padding: 36px 0 32px
  border-top: 1px solid #e5e5e5
  display: table
  width: 100%

  .organizer-card-inner
    display: table-cell
    padding-top: 1px
    vertical-align: top
    .organizer-title
      font-size: 18px
      font-weight: 400
      line-height: 25px
      display: inline
      margin: 0
  .organizer-card-logo
    display: table-cell
    width: 72px
    padding-left: 50px
    vertical-align: top
    .image
      width: 70px
      height: 70px
      border: 1px solid #eee
      background-repeat: no-repeat
      background-position: center
      background-size: cover
      -webkit-background-size: cover
      -moz-background-size: cover
      -o-background-size: cover

/* Organizer detail */

#organizer-detail

  img
    height: 100px
    border: 1px solid #eee
    float: left
    margin-right: 20px
    margin-bottomo: 20px


/* Place list */

.place-card
  padding: 36px 0 32px
  border-top: 1px solid #e5e5e5
  display: table
  width: 100%

  .place-card-inner
    display: table-cell
    padding-top: 1px
    vertical-align: top
    .place-title
      font-size: 18px
      font-weight: 400
      line-height: 25px
      display: inline
      margin: 0
  .place-card-logo
    display: table-cell
    width: 72px
    padding-left: 50px
    vertical-align: top
    .image
      width: 70px
      height: 70px
      border: 1px solid #eee
      background-repeat: no-repeat
      background-position: center
      background-size: cover
      -webkit-background-size: cover
      -moz-background-size: cover
      -o-background-size: cover


/* Place detail */

#place-detail
  .place-heading
    padding: 30px
    text-align: center
    background-color: $bg-color

  .place-map
    margin-top: 20px
    margin-bottom: 20px
    width: 100%

/* Speaker list */

.speaker-card
  padding: 36px 0 32px
  border-top: 1px solid #e5e5e5
  display: table
  width: 100%

  .speaker-card-inner
    display: table-cell
    padding-top: 1px
    vertical-align: top
    .speaker-title
      font-size: 18px
      font-weight: 400
      line-height: 25px
      display: inline
      margin: 0
  .speaker-card-logo
    display: table-cell
    width: 72px
    padding-left: 50px
    vertical-align: top
    .image
      width: 70px
      height: 70px
      border: 1px solid #eee
      border-radius: 50%
      background-repeat: no-repeat
      background-position: center
      background-size: cover
      -webkit-background-size: cover
      -moz-background-size: cover
      -o-background-size: cover

/* Speaker detail */

#speaker-detail

  .image
    width: 100px
    height: 100px
    border: 1px solid #eee
    border-radius: 50%
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    float: left
    margin-right: 20px
    margin-bottomo: 20px

/* About */

#about
  font-size: 20px
  p
    margin: 30px
  .member-profile
    padding: 20px 40px 0
    .image
      width: 100px
      height: 100px
      border: 1px solid #eee
      border-radius: 50%
      background-repeat: no-repeat
      background-position: center
      background-size: cover
      -webkit-background-size: cover
      -moz-background-size: cover
      -o-background-size: cover
      float: left
      margin-right: 20px
      margin-bottomo: 20px

/* Markdown */

#markdown
  font-size: 20px
  p
    margin: 30px

  .table
    max-width: 800px
    margin: 20px auto
