/* Speaker list */

.speaker-card
  padding: 36px 0px 32px

  .speaker-card-inner
    padding: 1px 5px 0px
    vertical-align: top
    margin: 0 auto
    .speaker-card-title
      text-align: center
      font-weight: 400
      line-height: 25px
      font-size: 16px
      word-wrap: break-word
  .speaker-card-logo
    width: 72px
    vertical-align: top
    margin: 0 auto
    .image
      width: 70px
      height: 70px
      border: 1px solid #eee
      border-radius: 50%
      background-repeat: no-repeat
      background-position: center
      background-size: cover
      -webkit-background-size: cover
      -moz-background-size: cover
      -o-background-size: cover

@media (max-width: 768px)
  .speaker-card
    .speaker-card-inner
      .speaker-card-title
        font-size: 11px

/* Speaker detail */

#speaker-detail

  .speaker-title
    margin: 10px

  .image
    width: 100px
    height: 100px
    border: 1px solid #eee
    border-radius: 50%
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    float: left
    margin-right: 20px
    margin-bottom: 20px
